<div class="doc_box">
    <div class="part part2">
        <div class="f16">模板下载</div>
        <ul class="mar_t20">
            <li class="item"><a ng-href="{{downloadUrl}}SmsImport.zip">收信人模板(变量短信)</a></li>
            <li class="item"><a ng-href="{{downloadUrl}}ReceiverImport.rar">收信人模板(普通短彩信)</a></li>
            <li class="item"><a ng-href="{{downloadUrl}}BlackPhone.zip">黑名单模板</a></li>
            <li class="item"><a ng-href="{{downloadUrl}}WhiteChannelPhone.zip">通道白名单模板</a></li>
            <li class="item"><a ng-href="{{downloadUrl}}WiteListweb.zip">企业白名单模板</a></li>
            <li class="item"><a ng-href="{{downloadUrl}}KeywordImport.zip">非法关键字模板</a></li>
            <li class="item"><a ng-href="{{downloadUrl}}user.zip">平台用户模板</a></li>
            <li class="item"><a ng-href="{{downloadUrl}}ContactImport.zip">通讯录联系人模板</a></li>
            <li class="item"><a ng-href="{{downloadUrl}}ChargingAccount.zip">计费账户充值模板</a></li>
        </ul>
    </div>

    <div class="part part2">
        <div class="f16">API文档下载</div>
        <ul class="mar_t20">
            <li class="item"><a ng-href="{{downloadUrl}}webservice_api.doc">WebService使用手册.doc</a></li>
            <li class="item"><a ng-href="{{downloadUrl}}second_dev_2.0_.net_api.doc">二次开发接口-2.0（.NET）开发手册.doc</a></li>
            <li class="item"><a ng-href="{{downloadUrl}}second_dev_2.0_java_api.doc">二次开发接口-2.0（.JAVA）开发手册.doc</a></li>
        </ul>
    </div>


    <div class="part part2">
        <div class="f16">操作手册下载</div>
        <ul class="mar_t20">
            <li class="item"><a ng-href="{{downloadUrl}}mos_platfrom_manual_v4.1.doc">MOS集团短信平台操作手册 - V4.1</a></li>
        </ul><br>
        <div class="f16">发送短信错误码下载</div>
        <ul class="mar_t20">
            <li class="item"><a ng-href="{{downloadUrl}}msg_send_err_code_manual.xlsx">发送错误码对应描述及建议</a></li>
        </ul>
    </div>

 </div>