<form class="form-inline w5c-form" name="form" w5c-form-validate="" novalidate>
        <table class="table table-bordered middle" style="border-top:none;">
            <tbody>
                <tr>
                    <td width="30%" class="row_title">
                        <span class="red">*</span> 模板名称：
                    </td>
                    <td width="70%">
                        <input type="text" class="form-control" name="title" ng-model="addTplParams.title" required/>
                    </td>
                </tr>
                <tr ng-show="showParams.smsTemplateType == 1">
                    <td class="row_title">
                        <label> 添加变量：</label>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info"
                                ng-click="addVarCheck(0);">数字变量</button>
                        <button type="button" class="btn btn-sm btn-info"
                                ng-click="addVarCheck(1);">中文变量</button>
                    </td>
                </tr>
                <tr>
                    <td class="row_title">
                        <span class="red">*</span>模板内容：
                    </td>
                    <td>
                        <textarea class="form-control" id="phraseContent" name="phraseContent"
                                  ng-model="addTplParams.phraseSMSContent"
                                  ng-keyup="renderSmsContent();" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td width="30%" class="row_title">
                        发送免审：
                    </td>
                    <td width="70%">
                        <select class="form-control input-sm" ng-model="addTplParams.templateType">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
