<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xuanwu.mos.mapper.BlacklistMapper">
	
	<!--entity 黑名单号码表(gsms_business_type)-->
	<resultMap type="com.xuanwu.mos.domain.entity.BlackList" id="blacklist">
		<id property="id" column="id" />
		<result property="desID" column="des_id"/>
		<result property="enterpriseID" column="enterprise_id"/>
		<result property="phone" column="phone"/>
		<result property="createTime" column="create_time"/>
		<result property="user" column="user"/>
		<result property="handleFrom" column="handle_from"/>
		<result property="target" column="target"/>
		<result property="type" column="type"/>
		<result property="remark" column="remark"/>
	</resultMap>
	
	<!-- entity  包含用户表(gsms_user)一部分信息-->
	<resultMap type="com.xuanwu.mos.domain.entity.SimpleUser" id="simpleUser">
		<id property="id" column="id" />
		<result property="username" column="user_name"/>
	</resultMap>
	<!-- entity  包含类型信息表(gsms_business_type)的一部分信息-->
	<resultMap type="com.xuanwu.mos.domain.entity.BizType" id="bizType">
		<id property="id" column="id" />
		<result property="name" column="name"/>
	</resultMap>
    
    <resultMap type="com.xuanwu.mos.domain.entity.BlackList" id="cacheBlacklistMap">
    	<id property="id" column="id"/>
    	<result property="phone" column="phone"/>
    	<result property="type" column="type"/>
    	<result property="target" column="target"/>
    	<result property="zipmes" column="zipmes"/>
    	<result property="user" column="user"/>
    	<result property="remark" column="remark"/>
    	<result property="enterpriseID" column="enterprise_id"/>
    	<result property="handleFrom" column="handle_from"/>
    </resultMap>
    <sql id="Where_Clause">
		<where>
			b.handle_from=1	
			<if test="params.id > 0">and b.id = #{params.id}</if>	
			<if test="params.type != 9">and b.type=#{params.type}</if>
			<if test="params.phone != null">and b.phone = #{params.phone}</if>
			<if test="params.enterpriseId != null">and b.enterprise_id = #{params.enterpriseId}</if>
			<if test="params._lk_phone != null">and b.phone like concat('%',#{params._lk_phone},'%')</if>
			<if test="params.target > 0">and b.target = #{params.target}</if>
			<if test="params.targets!=null">
				and target in
				<foreach collection="params.targets" item="item" open="(" separator=","
						 close=")">#{item}</foreach>
			</if>
			<choose>
				<when test="params.orderField == 'phone'">order by b.phone<if test="params.desc">desc</if></when>
				<when test="params.orderField == 'remark'">order by b.remark<if test="params.desc">desc</if></when>
				<otherwise>order by b.id desc</otherwise>
			</choose>

			<if test="page!=null">limit #{page.from}, #{page.size}</if>
		</where>
	</sql>
    <!-- -get the counts of black_phone  by the given params  
    	根据所给参数查找出黑名单号码的条数
    -->
    <select id="findResultCount" resultType="int">
        select count(1) from gsms_black_phone_list b
		<include refid="Where_Clause"/>
    </select>
    
    <!-- find (id,phone,des_id,target,type,remark) from black_phone by the given params
    	根据所给参数查找出黑名单的(id,phone,des_id,target,type,remark),以List<BlackList>的形式返回
     -->
    <select id="findBlacklist" resultMap="blacklist">
        select b.id,b.phone,b.des_id,b.target,b.type,b.remark,b.create_time from gsms_black_phone_list b
		<include refid="Where_Clause"/>
    </select>
    
    <!-- add new balck_phone or white_phone
    	添加新的黑名单或白名单
     -->
    <insert id="addCachePhoneList" parameterType="com.xuanwu.mos.domain.entity.BlackList">
    	<selectKey resultType="int" keyProperty="id" order="AFTER" >select last_insert_id() as id</selectKey>
        insert into gsms_cache_phone_list(phone,type,target,handle_time,zipmes,user,is_removed,remark,enterprise_id,handle_from,remove_id) 
        values (#{phone},#{type},#{target},#{handleTime},#{zipmes},#{user},#{isRemove},#{remark},#{enterpriseID},#{handleFrom},#{removeId})
    </insert>
    <!--get the count of all black_phone that found by the given params
    	根据所给条件查询出 所有符合条件的黑名单条数
     -->
    <select id="findBlacklistExist" resultType="Integer">
      select count(1) from gsms_black_phone_list where type=#{type} and phone=#{phone} and target=#{target}
    </select>
    
    <select id="getById" resultMap="blacklist">
       select * from gsms_black_phone_list where id=#{id}
    </select>
    
    <select id="findCacheBlacklistById" resultMap="cacheBlacklistMap">
    	select id, phone, type, target, zipmes, user, remark, enterprise_id, handle_from from gsms_cache_phone_list 
    	where id = #{id}
    </select>
    
    <select id="findCachePhoneLists" resultMap="blacklist">
    	select id,phone,type,target,handle_time,zipmes,user,is_removed,remark,enterprise_id,handle_from,remove_id 
    	from gsms_cache_phone_list where target in 
    	<foreach collection="params.ids" item="item" open="(" separator=","
				close=")">#{item}</foreach> and type = #{params.blackBizType}
    </select>
    <insert id="addBlackPhone" parameterType="com.xuanwu.mos.domain.entity.BlackList">
    	INSERT INTO gsms_black_phone_list(des_id, phone,create_time,enterprise_id,user,target,type,handle_from,remark) 
    	values (#{desID},#{phone},#{handleTime},#{enterpriseID},#{user},#{target},#{type},#{handleFrom},#{remark})
    </insert>
    <delete id="delBlackPhone" parameterType="com.xuanwu.mos.domain.entity.BlackList">
    	DELETE FROM gsms_black_phone_list WHERE target=#{target} and type=#{type} AND phone=#{phone};
    </delete>
	<delete id="delete" parameterType="com.xuanwu.mos.domain.entity.BlackList">
		DELETE FROM gsms_black_phone_list WHERE id=#{id};
	</delete>
    <insert id="addCachePhone" parameterType="com.xuanwu.mos.domain.entity.BlackList">
    	<selectKey resultType="int" keyProperty="id" order="AFTER" >select last_insert_id() as id</selectKey>
        insert into gsms_cache_phone_list(phone,type,target,handle_time,zipmes,user,is_removed,remark,enterprise_id,handle_from,remove_id) 
        values (#{phone},#{type},#{target},#{handleTime},#{zipmes},#{user},#{isRemove},#{remark},#{enterpriseID},#{handleFrom},#{removeId})
    </insert>
</mapper>
