<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xuanwu.mos.mapper.CarrierChannelMapper">
    <!-- entity 运营商通道表(gsms_carrier_channel)，存放各通道信息 -->
    <resultMap id="carrierChannel" type="com.xuanwu.mos.domain.entity.CarrierChannel">
        <id property="id" column="id"/>
        <result property="regionCarrierId" column="region_carrier_id"/>
        <result property="hostName" column="hostname"/>
        <result property="port" column="port"/>
        <result property="isSignal" column="issignal"/>
        <result property="identity" column="identity"/>
        <result property="signature" column="signature"/>
        <result property="mms" column="mms"/>
        <result property="sms" column="sms"/>
        <result property="longSms" column="long_sms"/>
        <result property="wappush" column="wappush"/>
        <result property="stateReport" column="state_report"/>
        <result property="massCommit" column="mass_commit"/>
        <result property="protoVersion" column="proto_version"/>
        <result property="type" column="type"/>
        <result property="maxLength" column="max_length"/>
        <result property="mmsMaxLength" column="mms_max_length"/>
        <result property="extendLength" column="extend_length"/>
        <result property="mmsSupportType" column="mms_support_type"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="corpId" column="corp_id"/>
        <result property="isEraseSignal" column="is_erase_signal"/>
        <result property="mo" column="mo"/>
        <result property="moWaitTime" column="mo_wait_time"/>
        <result property="sendStartTime" column="send_start_time"/>
        <result property="sendEndTime" column="send_end_time"/>
        <result property="channelNum" column="channel_num"/>
        <result property="isWhiteChannel" column="is_white_channel"/>
        <result property="isExtend" column="is_extend"/>
        <result property="extendNumLength" column="extend_num_length"/>
        <result property="remark" column="remark"/>
        <result property="parameters" column="parameters"/>
        <result property="state" column="state"/>
        <result property="isLongSignal" column="is_long_signal"/>
        <result property="isRemove" column="is_remove"/>
        <result property="channelShortNum" column="channel_short_num"/>
        <result property="corpCode" column="corp_code"/>
        <result property="cropName" column="crop_name"/>
        <result property="cropProductNum" column="crop_product_num"/>
        <result property="bussinessCode" column="bussiness_code"/>
        <result property="bussinessName" column="bussiness_name"/>
        <result property="channelType" column="channel_type"/>
        <result property="parentId" column="parent_id"/>
        <result property="auditingFlag" column="auditing_flag"/>
    </resultMap>

    <resultMap id="carrierChannelMapById" type="com.xuanwu.mos.domain.entity.CarrierChannel">
        <id property="id" column="id"/>
        <result property="regionCarrierId" column="region_carrier_id"/>
        <result property="hostName" column="hostname"/>
        <result property="port" column="port"/>
        <result property="isSignal" column="issignal"/>
        <result property="identity" column="identity"/>
        <result property="signature" column="signature"/>
        <result property="mms" column="mms"/>
        <result property="sms" column="sms"/>
        <result property="longSms" column="long_sms"/>
        <result property="voiceNotice" column="voice_notice"/>
        <result property="voiceCode" column="voice_code"/>
        <result property="wappush" column="wappush"/>
        <result property="stateReport" column="state_report"/>
        <result property="massCommit" column="mass_commit"/>
        <result property="protoVersion" column="proto_version"/>
        <result property="type" column="type"/>
        <result property="maxLength" column="max_length"/>
        <result property="mmsMaxLength" column="mms_max_length"/>
        <result property="extendLength" column="extend_length"/>
        <result property="mmsSupportType" column="mms_support_type"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="corpId" column="corp_id"/>
        <result property="isEraseSignal" column="is_erase_signal"/>
        <result property="mo" column="mo"/>
        <result property="moWaitTime" column="mo_wait_time"/>
        <result property="sendStartTime" column="send_start_time"/>
        <result property="sendEndTime" column="send_end_time"/>
        <result property="channelNum" column="channel_num"/>
        <result property="isWhiteChannel" column="is_white_channel"/>
        <result property="isExtend" column="is_extend"/>
        <result property="extendNumLength" column="extend_num_length"/>
        <result property="remark" column="remark"/>
        <result property="parameters" column="parameters"/>
        <result property="state" column="state"/>
        <result property="isLongSignal" column="is_long_signal"/>
        <result property="isRemove" column="is_remove"/>
        <result property="channelShortNum" column="channel_short_num"/>
        <result property="corpCode" column="corp_code"/>
        <result property="cropName" column="crop_name"/>
        <result property="cropProductNum" column="crop_product_num"/>
        <result property="bussinessCode" column="bussiness_code"/>
        <result property="bussinessName" column="bussiness_name"/>
        <result property="channelType" column="channel_type"/>
        <result property="parentId" column="parent_id"/>
        <result property="auditingFlag" column="auditing_flag"/>
        <association property="regionCarrier" javaType="com.xuanwu.mos.domain.entity.RegionCarrier">
            <id property="id" column="region_carrier_id"/>
            <result property="carrierId" column="b_carrier_id"/>
            <result property="regionId" column="b_region_id"/>
        </association>
        <collection property="canSendCarrier" ofType="com.xuanwu.mos.domain.entity.Carrier" column="c_carrier_id">
            <id property="id" column="c_carrier_id"/>
        </collection>
        <collection property="noRegion" ofType="com.xuanwu.mos.domain.entity.Region" column="d_region_id">
            <id property="id" column="d_region_id"/>
        </collection>
    </resultMap>

    <resultMap type="com.xuanwu.mos.domain.entity.BiztypeSpecnum" id="biztypeSpecnumMap">
        <id property="id" column="biztype_specnum_bind_id"/>
        <result property="carrierId" column="biztype_specnum_bind_carrier"/>
    </resultMap>

    <!-- get (id,channel_num,name) from carrier_channel that found by given params
        根据所给条件查询出运营商通道的(id,通道号，通道名)
     -->
    <select id="findSimpleChannelByNum" resultMap="carrierChannel">
        select id,channel_num,name from gsms_carrier_channel where 1=1
        <if test="channelNum!=null and channelNum!=''">and channel_num like concat('%',#{channelNum},'%')</if>
        <if test="msgType > 0">
            <if test="msgType==1">and (sms=1 or long_sms=1)</if>
            <if test="msgType==2">and mms=1</if>
            <if test="msgType==8">and voice_notice=1</if>
            <if test="msgType==9">and voice_code=1</if>
        </if>
        <if test="state>=0">and state=#{state}</if>
        <if test="isRemove>=0">and is_remove=#{isRemove}</if>
    </select>

    <!-- get (id,channel_num,name) from carrier_channel that found by given params
    根据所给条件查询出运营商通道的(id,通道号，通道名)
 -->
    <select id="findSimpleChannelByEnterprise" resultMap="carrierChannel">
        select gcc.id,gcc.region_carrier_id,gcc.hostname,gcc.port,gcc.issignal,
        gcc.identity,gcc.signature,gcc.mms,gcc.sms,gcc.long_sms,gcc.wappush,gcc.state_report,
        gcc.mass_commit,gcc.proto_version,gcc.type,gcc.max_length,gcc.mms_max_length,gcc.extend_length,
        gcc.mms_support_type,gcc.account,gcc.password,gcc.name,gcc.corp_id,gcc.is_erase_signal,gcc.mo,
        gcc.mo_wait_time,gcc.send_start_time,gcc.send_end_time,gcc.channel_num,gcc.is_white_channel,gcc.is_extend,
        gcc.extend_num_length,gcc.remark,gcc.parameters,gcc.state,gcc.is_long_signal,gcc.is_remove,
        gcc.channel_short_num,gcc.corp_code,gcc.crop_name,gcc.crop_product_num,gcc.bussiness_code,gcc.bussiness_name,
        gcc.channel_type,gcc.parent_id,gcc.auditing_flag,gesb.msg_type
        from gsms_carrier_channel gcc
        left join gsms_specsvs_num gsn on(gcc.id=gsn.channel_id)
        left join (select * from gsms_enterprise_specnum_bind where id in(select max(id) from
        gsms_enterprise_specnum_bind group by specnum_id)) gesb on(gesb.specnum_id= gsn.id )
        where gesb.enterprise_id = #{enterpriseID}
        <if test="isWhitelist >= 0">and gcc.is_white_channel=#{isWhitelist}</if>
    </select>

    <!-- get (id,channel_num,name) from carrier_channel that found by given params
        根据所给条件查询出运营商通道的(id)
     -->
    <select id="findChannelIdsByEnterprise" resultType="long">
        select gcc.id from gsms_carrier_channel gcc
        left join gsms_specsvs_num gsn on(gcc.id=gsn.channel_id)
        left join (select * from gsms_enterprise_specnum_bind where id in(select max(id) from
        gsms_enterprise_specnum_bind group by specnum_id)) gesb on(gesb.specnum_id= gsn.id )
        where gesb.enterprise_id = #{enterpriseID}
        <if test="isWhitelist >= 0">and gcc.is_white_channel=#{isWhitelist}</if>
    </select>

    <!-- 根据所给参数查询出非删除的运营商通道条数 -->
    <select id="findCarrierChannelCount" resultType="int">
        select count(distinct a.id) from gsms_carrier_channel as a
        left join gsms_region_carrier as b on a.region_carrier_id=b.id
        left join gsms_carrier as c on b.carrier_id = c.id
        left join gsms_region_code as d on b.region_id = d.id
        left join gsms_specsvs_num e on a.id =e.channel_id
        left join gsms_enterprise_specnum_bind f on e.id = f.specnum_id
        where a.is_remove=0
        and f.enterprise_id=#{enterpriseId}
        <if test="name != null and name != ''">
            and a.name like concat('%',#{name},'%')
        </if>
        <if test="channelNum != null and channelNum != ''">
            and a.channel_num like concat('%',#{channelNum},'%')
        </if>
        <if test="carrier != 0">
            and c.id = #{carrier}
        </if>
        <if test="msgType>0">
            <if test="msgType==1">
                and a.sms=1
            </if>
            <if test="msgType==2">
                and a.long_sms=1
            </if>
            <if test="msgType==4">
                and a.mms=1
            </if>
            <if test="msgType==8">
                and a.voice_notice=1
            </if>
            <if test="msgType==9">
                and a.voice_code=1
            </if>
        </if>
    </select>

    <!-- entity  运营商通道的部分信息，主要用于页面展示-->
    <resultMap type="com.xuanwu.mos.domain.entity.CarrierChannel" id="carrierChannelMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="channelNum" column="channel_num"/>
        <result property="carrier" column="carrier"/>
        <result property="region" column="region"/>
        <result property="sms" column="sms" javaType="boolean"/>
        <result property="longSms" column="long_sms" javaType="boolean"/>
        <result property="mms" column="mms" javaType="boolean"/>
        <result property="stateReport" column="state_report" javaType="boolean"/>
        <result property="extendNumLength" column="extend_num_length"/>
    </resultMap>

    <!-- 根据所给参数，分页查询出运营商通道的部分信息 -->
    <select id="findCarrierChannel" resultMap="carrierChannelMap">
        select a.id as id,
        a.name as name,
        a.channel_num as channel_num,
        c.name as carrier,
        d.name as region,
        a.sms as sms,
        a.long_sms as long_sms,
        a.mms as mms,
        a.voice_notice as voiceNotice,
        a.voice_code as voiceCode,
        a.state_report as state_report
        from gsms_carrier_channel as a
        left join gsms_region_carrier as b on a.region_carrier_id=b.id
        left join gsms_carrier as c on b.carrier_id = c.id
        left join gsms_region_code as d on b.region_id = d.id
        left join gsms_specsvs_num e on a.id =e.channel_id
        left join gsms_enterprise_specnum_bind f on e.id = f.specnum_id
        where a.is_remove=0
        and f.enterprise_id=#{enterpriseId}
        <if test="name != null and name != ''">
            and a.name like concat('%',#{name},'%')
        </if>
        <if test="channelNum != null and channelNum != ''">
            and a.channel_num like concat('%',#{channelNum},'%')
        </if>
        <if test="carrier != 0">
            and c.id = #{carrier}
        </if>
        <if test="msgType > 0">
            <if test="msgType==1">
                and a.sms=1
            </if>
            <if test="msgType==2">
                and a.long_sms=1
            </if>
            <if test="msgType==4">
                and a.mms=1
            </if>
            <if test="msgType==8">
                and a.voice_notice=1
            </if>
            <if test="msgType==9">
                and a.voice_code=1
            </if>
        </if>
        group by a.id
        order by a.id asc
        <if test="reqNum>0">limit #{offset},#{reqNum}</if>
    </select>

    <select id="findSysConfigMixMaxLength" resultType="int">
		select config_value as value from gsms_sys_config where config_key='MixMaxLength'; 
	</select>

    <select id="findChannelById" resultMap="carrierChannelMap">
    	select id, name, channel_num,sms,long_sms,mms,extend_num_length,is_white_channel  from gsms_carrier_channel where id = #{id}
    </select>

    <select id="findChannelByParam" resultType="long">
        select gcc.id from gsms_carrier_channel gcc
        left join gsms_specsvs_num gsn on(gcc.id=gsn.channel_id)
        left join (select * from gsms_enterprise_specnum_bind where id in(select max(id) from
        gsms_enterprise_specnum_bind group by specnum_id)) gesb on(gesb.specnum_id= gsn.id )
        where gcc.is_white_channel = 1 and gesb.enterprise_id = #{enterpriseID}
        <if test="name != null and name != ''">
            and gcc.name like concat('%',#{name},'%')
        </if>
        <if test="channelNum != null and channelNum != ''">
            and gcc.channel_num like concat('%',#{channelNum},'%')
        </if>
    </select>

    <select id="findCarrierChannelByName" resultMap="carrierChannelMap">
    	select id, name, channel_num , is_white_channel from gsms_carrier_channel where name = #{name} and is_remove=0
    </select>

    <select id="findCarrierChannelByIdentity" resultMap="carrierChannelMap">
    	select id, name, channel_num from gsms_carrier_channel where identity = #{identity} and is_remove=0
    </select>

    <insert id="storeRegionCarrier" parameterType="com.xuanwu.mos.domain.entity.RegionCarrier">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            select last_insert_id() as id
        </selectKey>
        insert into gsms_region_carrier(id, carrier_id,region_id,name) values(#{id},#{carrierId},#{regionId},#{name})
    </insert>
    <insert id="storeCarrierChannel" parameterType="com.xuanwu.mos.domain.entity.CarrierChannel">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            select last_insert_id() as id
        </selectKey>
        insert into
        gsms_carrier_channel(id,region_carrier_id,hostname,port,issignal,identity,signature,mms,sms,long_sms,voice_notice,voice_code,wappush,state_report,mass_commit,
        proto_version,type,max_length,mms_max_length,extend_length,mms_support_type,account,password,name,corp_id,is_erase_signal,
        mo,mo_wait_time,send_start_time,send_end_time,channel_num,is_white_channel,is_extend,extend_num_length,remark,parameters,state,
        is_long_signal,is_remove,channel_short_num,corp_code,crop_name,crop_product_num,bussiness_code,bussiness_name,channel_type,parent_id,auditing_flag)
        values
        (#{id},#{regionCarrierId},#{hostName},#{port},#{isSignal},#{identity},#{signature},#{mms},#{sms},#{longSms},#{voiceNotice},#{voiceCode},#{wappush},#{stateReport},#{massCommit},
        #{protoVersion},#{type},#{maxLength},#{mmsMaxLength},#{extendLength},#{mmsSupportType},#{account},#{password},#{name},#{corpId},false,
        #{mo},#{moWaitTime},#{sendStartTime},#{sendEndTime},#{channelNum},#{isWhiteChannel},#{isExtend},#{extendNumLength},#{remark},#{parameters},#{state},
        #{isLongSignal},#{isRemove},#{channelShortNum},#{corpCode},#{cropName},#{cropProductNum},#{bussinessCode},#{bussinessName},#{channelType},#{parentId},#{auditingFlag})
    </insert>

    <insert id="storeChannelCarrier" parameterType="com.xuanwu.mos.domain.entity.ChannelCarrier">
    	insert into gsms_channel_carrier_map(carrier_id,channel_id) values(#{carrierId},#{channelId})
    </insert>

    <insert id="storeChannelRegion" parameterType="com.xuanwu.mos.domain.entity.ChannelRegion">
    	insert into gsms_channel_region_map(channel_id,region_id,is_remove) values(#{channelId},#{regionId},#{isRemove})
    </insert>

    <insert id="storeSpecsvsNum" parameterType="com.xuanwu.mos.domain.entity.SpecsvsNum">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            select last_insert_id() as id
        </selectKey>
        insert into
        gsms_specsvs_num(id,channel_id,parent_num_id,number,extend,extend_size,share_flag,type,assign_type,is_white,basic_number,
        parameters,version,is_remove,creator_id,create_time,reference_count,remark)
        values
        (#{id},#{channelId},#{parentNumId},#{number},#{extend},#{extendSize},#{shareFlag},#{type},#{assignType},#{isWhite},#{basicNumber},
        #{parameters},#{version},#{isRemove},#{creatorId},#{createTime},#{referenceCount},#{remark})
    </insert>

    <insert id="storeEnterpriseSpecnumBind" parameterType="com.xuanwu.mos.domain.entity.EnterpriseSpecnumBind">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            select last_insert_id() as id
        </selectKey>
        insert into gsms_enterprise_specnum_bind(id,enterprise_id,specnum_id,price,msg_type,is_specified,remark,state)
        values
        (#{id},#{enterpriseId},#{specnumId},#{price},#{msgType},#{isSpecified},#{remark},#{state})
    </insert>

    <insert id="storeBiztypeSpecnum" parameterType="com.xuanwu.mos.domain.entity.BiztypeSpecnum">
    	insert into gsms_biztype_specnum(id,enterprise_specnum_bind_id,biztype_id,is_remove,carrier_id)
    	values
    		(#{id},#{enterpriseSpecnumBindId},#{biztypeId},#{isRemove},#{carrierId})
    </insert>

    <select id="findCarrierChannelById" resultMap="carrierChannelMapById">
   	    select a.id as id,a.region_carrier_id as region_carrier_id,a.hostname as hostname,a.port as port,a.issignal as issignal,a.identity as identity,a.signature as signature,
   	    a.mms as mms,a.sms as sms,a.long_sms as long_sms,a.voice_notice, a.voice_code,a.wappush as wappush,a.state_report as state_report,
   	    a.mass_commit as mass_commit,a.proto_version as proto_version,
   	    a.max_length as max_length,mms_max_length as mms_max_length,extend_length as extend_length,a.mms_support_type as mms_support_type,a.account as account,a.password as password,
   	    a.name as name,a.corp_id as corp_id,a.is_erase_signal as is_erase_signal,a.mo as mo,a.mo_wait_time as mo_wait_time,a.channel_num as channel_num,a.is_white_channel as is_white_channel,
   	    a.extend_num_length as extend_num_length,a.parameters as parameters,a.state as state,a.is_long_signal as is_long_signal,a.channel_short_num as channel_short_num,b.carrier_id as b_carrier_id,b.region_id as b_region_id,
   	    c.carrier_id as c_carrier_id,d.region_id as d_region_id
   	    from gsms_carrier_channel a
		left join gsms_region_carrier b on a.region_carrier_id = b.id
		left join gsms_channel_carrier_map c on c.channel_id = a.id
		left join gsms_channel_region_map d on d.channel_id = a.id
		where a.id =#{id}
    </select>

    <select id="findAllWhiteChannels" resultMap="carrierChannelMap">
    	select a.id, a.name,a.channel_num,a.sms,a.long_sms,a.mms,a.extend_num_length 
    	from gsms_carrier_channel a inner join gsms_specsvs_num b on a.id=b.channel_id
    	inner join gsms_enterprise_specnum_bind c on b.id = c.specnum_id
    	where a.is_white_channel=1 and a.is_remove=0
    </select>

    <select id="findAllNonWhiteChannels" resultMap="carrierChannelMap">
    	select a.id, a.name,a.channel_num,a.sms,a.long_sms,a.mms,a.extend_num_length 
    	from gsms_carrier_channel a inner join gsms_specsvs_num b on a.id=b.channel_id
    	inner join gsms_enterprise_specnum_bind c on b.id = c.specnum_id
    	where a.is_white_channel=0 and a.is_remove=0
    </select>

    <select id="findAllBizTypeCarrier" resultMap="biztypeSpecnumMap">
    	select b.id as biztype_specnum_bind_id,b.carrier_id as biztype_specnum_bind_carrier
		from gsms_business_type a
		left join gsms_biztype_specnum b on a.id =b.biztype_id
		left join gsms_enterprise_specnum_bind c on b.enterprise_specnum_bind_id = c.id
		left join gsms_specsvs_num d on c.specnum_id = d.id
		where d.channel_id=#{id};
    </select>

    <delete id="delOldChannelCarrier">
    	delete from gsms_channel_carrier_map where channel_id = #{id}
    </delete>

    <delete id="delOldChannelRegion">
    	delete from gsms_channel_region_map where channel_id = #{id}
    </delete>

    <delete id="delBizTypeCarrier">
    	delete from gsms_biztype_specnum where id = #{id}
    </delete>

    <update id="modifiRegionCarrier">
    	update gsms_region_carrier set carrier_id=#{regionCarrier.carrierId},region_id=#{regionCarrier.regionId} where id=#{regionCarrier.id}
    </update>

    <update id="modifyCarrierChannel" parameterType="com.xuanwu.mos.domain.entity.CarrierChannel">
    	update gsms_carrier_channel set hostname=#{hostName},port=#{port},issignal=#{isSignal},identity=#{identity},signature=#{signature},state_report=#{stateReport},mass_commit=#{massCommit},
    	proto_version=#{protoVersion},max_length=#{maxLength},mms_max_length=#{mmsMaxLength},extend_length=#{extendLength},mms_support_type=#{mmsSupportType},account=#{account},password=#{password},
    	corp_id=#{corpId},mo=#{mo},mo_wait_time=#{moWaitTime},is_white_channel=#{isWhiteChannel},is_extend=#{isExtend},extend_num_length=#{extendNumLength},
    	parameters=#{parameters},state=#{state},is_long_signal=#{isLongSignal},is_remove=#{isRemove}
    	where id=#{id}
    </update>

    <update id="modifySpecsvsNum" parameterType="com.xuanwu.mos.domain.entity.SpecsvsNum">
    	update gsms_specsvs_num set extend=#{extend},extend_size=#{extendSize},is_white=#{isWhite},parameters=#{parameters},is_remove=#{isRemove}
    	where channel_id=#{channelId}
    </update>

    <select id="findIsChannelSended" resultType="int">
    	select count(1) from gsms_channel_send_report where channle_id=#{id} limit 1
    </select>

    <resultMap type="com.xuanwu.mos.domain.entity.SpecsvsNum" id="SpecsvsNum">
        <id property="id" column="id"/>
        <id property="channelId" column="channel_id"/>
    </resultMap>

    <select id="findSpecsvsNumByChannelId" resultMap="SpecsvsNum">
    	select b.id as id from gsms_carrier_channel a
		left join gsms_specsvs_num b on a.id = b.channel_id
		where a.id=#{id}
    </select>

    <select id="findSecondSpecsvsNumByChannelId" resultMap="SpecsvsNum">
    	select b.id as id from gsms_carrier_channel a
		left join gsms_specsvs_num b on a.id = b.channel_id
		where a.id=#{id} and b.parent_num_id is not null
    </select>

    <select id="findCarrierChannelBySpecsvsNum" resultMap="SpecsvsNum">
    	select id,channel_id from gsms_specsvs_num where id =#{id}
    </select>

    <update id="delSpecsvsNum">
    	update gsms_specsvs_num set is_remove=true where id=#{id}
    </update>

    <resultMap type="com.xuanwu.mos.domain.entity.EnterpriseSpecnumBind" id="EnterpriseSpecnumBind">
        <id property="id" column="id"/>
    </resultMap>

    <select id="findEnterpriseSpecnumBindBySpecNumId" resultMap="EnterpriseSpecnumBind">
        select b.id as id from gsms_specsvs_num a
        inner join gsms_enterprise_specnum_bind b on a.id=b.specnum_id
        where a.id in
        <foreach item="item" index="index" collection="specsvsNums"
                 open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </select>
    <delete id="delEnterpriseSpecnumBind">
    	delete from gsms_enterprise_specnum_bind where id=#{id}
    </delete>

    <resultMap type="com.xuanwu.mos.domain.entity.BiztypeSpecnum" id="BiztypeSpecnum">
        <id property="id" column="id"/>
    </resultMap>

    <select id="findBizTypeSpecnum" resultMap="BiztypeSpecnum">
        select a.id from gsms_biztype_specnum a
        left join gsms_enterprise_specnum_bind b on a.enterprise_specnum_bind_id=b.id
        where b.id in
        <foreach item="item" index="index" collection="enterpriseSpecnumBinds"
                 open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </select>

    <delete id="delBiztypeSpecnum">
    	delete from gsms_biztype_specnum where id=#{id}
    </delete>

    <delete id="delBiztypeSpecnumByBindId">
    	delete from gsms_biztype_specnum where enterprise_specnum_bind_id=#{esbId}
    </delete>

    <delete id="delChannelCarrier">
		delete from gsms_channel_carrier_map where channel_id=#{id}
    </delete>

    <delete id="delChannelRegion">
		delete from gsms_channel_region_map where channel_id=#{id}
    </delete>

    <delete id="delWhileRedirect">		
		delete from gsms_white_redirect where source=#{id}  and type=#{type} or pri_redirect_spesvs=#{id}
    </delete>

    <update id="delChannelChange">		
		update gsms_channel_change set  state=1 where sources_channel_id=#{id}
    </update>

    <delete id="delChannelChangeDetail">		
		delete from gsms_channel_change_detail where change_id=#{id}
    </delete>

    <delete id="delSpecnumRegionPriority">		
		delete from gsms_specnum_region_priority where specsvs_num_id=#{id}
    </delete>

    <update id="delCarrierChannel">
		update gsms_carrier_channel set is_remove=true,state=0 where id=#{id}
    </update>

    <select id="fetchCarrierByChannelId" resultType="int">
		select b.carrier_id from gsms_carrier_channel a join gsms_region_carrier b on b.id = a.region_carrier_id where a.id = #{id}
    </select>

    <select id="findAllChannel" resultMap="carrierChannel">
		select id,name,is_remove from gsms_carrier_channel
	</select>

    <select id="findChannelName" resultType="String">
    	select name as channel_name from gsms_carrier_channel where id=#{channelId}
    </select>

    <select id="findChannelNamePro" resultMap="carrierChannel">
    	select name,is_remove from gsms_carrier_channel where id=#{channelId}
    </select>

    <select id="findEnterpriseSpecBind" resultType="int">
   		select id as id from gsms_enterprise_specnum_bind where specnum_id=#{specnumId} and enterprise_id=#{enterpriseId} limit 1
    </select>

    <select id="findParentSpecsvsNum" resultMap="SpecsvsNum">
   		select id,channel_id from gsms_specsvs_num where channel_id=#{channelId} and parent_num_id &gt; 0
    </select>
</mapper>