<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- Used by the mto client to fetch the frame -->
<mapper namespace="com.xuanwu.mos.mapper.ContactShareGroupMapper">
    <!--&lt;!&ndash; entity  联系人组信息表(gsms_contact_group)&ndash;&gt;-->
    <resultMap type="ContactShareGroup" id="contactShareGroup">
        <id property="id" column="id" />
        <result property="userId" column="user_id"/>
        <result property="groupId" column="group_id"/>
        <result property="showContactFlag" column="show_contact_flag"/>
        <result property="shareChildFlag" column="share_child_flag"/>
    </resultMap>
    <resultMap type="ContactGroup" id="contactGroup">
        <id property="id" column="id" />
        <result property="parentId" column="group_id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="path" column="path"/>
        <result property="type" column="type"/>
        <result property="enterpriseId" column="enterprise_id"/>
    </resultMap>
    <resultMap extends="contactGroup" id="extendsGroup" type="ContactGroup">
        <result property="containChild" column="share_child_flag"/>
        <result property="showContact" column="show_contact_flag"/>
    </resultMap>
    <sql id="Where_Clause">
        <where>
        	<if test="params.id > 0 ">and id = #{params.id}</if>
            <if test="params.userId!=null">
                and user_id =#{params.userId}
            </if>
            <if test="params.groupId!=null">
                and group_id =#{params.groupId}
            </if>
        </where>
    </sql>
    <select id="findResults" resultMap="contactShareGroup">
        select * from gsms_contact_group_share_map
        <include refid="Where_Clause"/>
    </select>
    <select id="findContactGroups" resultMap="extendsGroup">
        select cg.*,cgs.share_child_flag,cgs.show_contact_flag from gsms_contact_group_share_map cgs
        LEFT JOIN gsms_contact_group cg on cg.id = cgs.group_id
        <where >
            <if test="params.userIds!=null ">
                and cgs.user_id in
                <foreach item="item" index="index" collection="params.userIds"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.userId"> and cgs.user_id = #{params.userId}</if>
            <if test="params.groupId"> and cgs.group_id = #{params.groupId}</if>
            <if test="params.enterpriseId"> and cgs.enterprise_id = #{params.enterpriseId}</if>
        </where>
    </select>
    <!-- entity  联系人信息表(gsms_contact)-->
    <resultMap type="com.xuanwu.mos.domain.entity.Contact" id="contact">
        <id property="id" column="id"/>
        <result property="groupId" column="group_id"/>
        <result property="groupName" column="group_name"/>
        <result property="groupType" column="group_type"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="sex" column="sex"/>
        <result property="identifier" column="identifier"/>
        <result property="birthday" column="birthday"/>
        <result property="vip" column="vip"/>
        <result property="remark" column="remark"/>
        <result property="ext1" column="extension1"/>
        <result property="ext2" column="extension2"/>
        <result property="ext3" column="extension3"/>
        <association property="group" column="group_id" select="findContactGroupById"></association>
    </resultMap>
    <sql id="Where_Share_Clause">
        <where >
            <if test="params._lk_name!=null and ''!=params._lk_name">and c.name like concat('%',#{params._lk_name},'%')</if>
            <if test="params._lk_phone!=null and ''!=params._lk_phone">and c.phone like concat('%',#{params._lk_phone},'%')</if>
            <if test="params.sex!=null and params.sex!=-1" >and c.sex=#{params.sex}</if>
            <if test="params._gt_beginDate!=null">
                <![CDATA[ and c.birthday > #{params._gt_beginDate}]]>
            </if>
            <if test="params._lt_endDate!=null">
                <![CDATA[ and c.birthday < #{params._lt_endDate} ]]>
            </if>
            <if test="params.vip!=null and params.vip!=-1">and c.vip=#{params.vip}</if>
            <if test="params._lk_identifier!=null and ''!=params._lk_identifier">and c.identifier like concat('%',#{params._lk_identifier},'%')</if>

        </where>
    </sql>
    <select id="findShareContactDetail" resultMap="contact">
        SELECT c.id,c.group_id,c.`name`,c.phone,c.sex,c.vip,c.birthday,c.remark,c.identifier
        ,b.group_name
        from(SELECT
        CASE
        WHEN cgs.share_child_flag = 1 <if test="params.message!=null and params.message">AND cgs.show_contact_flag != 0 </if>THEN
        <choose>
            <when test="params.showChild==null or params.showChild">CONCAT(cg.path,'%')</when>
            <when test="!params.showChild and params.groupId==1">'1'</when>
            <otherwise>CONCAT(cg.path)</otherwise>
        </choose>
        <if test="params.message!=null and params.message">
            WHEN cgs.show_contact_flag = 0 THEN ''
        </if>
        ELSE
        cg.path
        END pathStr ,cg.`name` group_name
        FROM
        gsms_contact_group_share_map cgs
        LEFT JOIN gsms_contact_group cg ON cgs.group_id = cg.id
        <where>
        <if test="params.userId!=null"> and cgs.user_id = #{params.userId}</if>
        <if test="params.groupId!=1"> and cgs.group_id = #{params.groupId}</if>
        <if test="params.enterpriseId!=1"> and cgs.enterprise_id = #{params.enterpriseId}</if>
        <if test="params.userIds!=null ">
            and cgs.user_id in
            <foreach item="item" index="index" collection="params.userIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        </where> ) b
        LEFT JOIN gsms_contact_group cgNew on cgNew.path LIKE b.pathStr
        JOIN gsms_contact c on c.group_id=cgNew.id
        <include refid="Where_Share_Clause"/>
        GROUP BY c.id
        <if test="page!=null">limit #{page.from}, #{page.size}</if>
    </select>

    <!-- 根据id查询出联系人所在的组信息 -->
    <select id="findContactGroupById" resultMap="contactGroup">
        select * from gsms_contact_group where id = #{id}
    </select>

    <select id="findShareContactCount" resultType="int">
        SELECT count(DISTINCT c.id) from(SELECT
        CASE
        WHEN cgs.share_child_flag = 1 <if test="params.message!=null and params.message">AND cgs.show_contact_flag != 0 </if>THEN
        <choose>
            <when test="params.showChild==null or params.showChild">CONCAT(cg.path,'%')</when>
            <when test="!params.showChild and params.groupId==1">'1'</when>
            <otherwise>CONCAT(cg.path)</otherwise>
        </choose>
        <if test="params.message!=null and params.message">
            WHEN cgs.show_contact_flag = 0 THEN ''
        </if>
        ELSE
        cg.path
        END pathStr
        FROM
        gsms_contact_group_share_map cgs
        LEFT JOIN gsms_contact_group cg ON cgs.group_id = cg.id
        <where>
            <if test="params.userId!=null"> and cgs.user_id = #{params.userId}</if>
            <if test="params.groupId!=1"> and cgs.group_id = #{params.groupId}</if>
            <if test="params.enterpriseId!=1"> and cgs.enterprise_id = #{params.enterpriseId}</if>
            <if test="params.userIds!=null ">
                and cgs.user_id in
                <foreach item="item" index="index" collection="params.userIds"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>) b
        LEFT JOIN gsms_contact_group cgNew on cgNew.path LIKE b.pathStr
        JOIN gsms_contact c on c.group_id=cgNew.id
        <include refid="Where_Share_Clause"/>
    </select>
    <insert id="insert">
        insert into gsms_contact_group_share_map(group_id,show_contact_flag,share_child_flag,user_id,enterprise_id)
		values (#{groupId},#{showContactFlag},#{shareChildFlag},#{userId},#{enterpriseId})
    </insert>
    <delete id="delete">
        delete from gsms_contact_group_share_map where group_id=#{groupId}
    </delete>
    <select id="getById" resultType="contactShareGroup">
        SELECT * FROM gsms_contact_group_share_map WHERE id = #{id}
    </select>
    <delete id="deleteByUserIds">
        delete from gsms_contact_group_share_map
        <where>
            <if test="params.userIds!=null">and user_id in <foreach collection="params.userIds" item="id" open="(" separator="," close=")">#{id}</foreach></if>
        </where>
    </delete>
    <select id="findShareContactGroupByPath" resultMap="contactShareGroup">
        SELECT cgs.* FROM gsms_contact_group_share_map cgs LEFT JOIN gsms_contact_group cg on cgs.group_id=cg.id where cg.path =  #{path}
    </select>
</mapper>
