<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xuanwu.mos.mapper.KeyWordMapper">
	<!-- entity 非法关键字(gsms_cache_key_word) -->
	<resultMap id="keyword" type="KeyWord">
		<id property="id" column="id" />
		<result property="keywordName" column="keyword" />
		<result property="handleTime" column="handle_time" />
		<result property="isRemoved" column="is_removed" />
		<result property="userId" column="user" />
		<result property="type" column="type" />
		<result property="targetId" column="target" />
	</resultMap>
	<sql id="Where_Clause">
		<if test="params.id > 0 ">and id = #{params.id}</if>
		<if test="params.keywordName != null and params.keywordName !='' ">and keyword = #{params.keywordName}</if>
		<if test="params.targetId != null">and target = #{params.targetId}</if>
		<if test="params._lk_keywordName != null and params._lk_keywordName !='' ">and keyword like concat('%',#{params._lk_keywordName},'%')</if>
	</sql>
	<!-- 根据所给关键字名称(keyword,模糊查询)，查询出非删除的(is_removed!=1) 非法关键字记录条数-->
	<select id="findResultCount" resultType="int">
		select count(id) from gsms_cache_key_word where is_removed is false
		<include refid="Where_Clause"/>
		</select>
	
	<!--根据所给条件，分页查询出非删除的非法关键字记录  -->
	<select id="findResults" resultMap="keyword">
		select * from  gsms_cache_key_word where is_removed is false
		<include refid="Where_Clause"/>
		<if test="sorts.handleTime != null">order by handle_time ${sorts.handleTime}</if>
		<if test="page!=null">limit #{page.from}, #{page.size}</if>
	</select>
	
	<!-- 根据id查询出符合的非法关键字 -->
	<select id="getById" resultMap="keyword">
		select * from gsms_cache_key_word where id=#{id}
	</select>
	
	<!-- 根据关键字名称(keyword)查询出符合条件的记录 -->
	<select id="findKeywordByName" resultMap="keyword">
		select * from gsms_cache_key_word where is_removed is false and keyword=#{keywordName} and target = #{target}
	</select>
	
	<!-- 添加新的非法关键字 -->
	<insert id="insert">
		insert into gsms_cache_key_word(keyword,handle_time,is_removed,user,type,target)
		value(#{keywordName},#{handleTime},#{isRemoved},#{userId},#{type},#{targetId})
	</insert>
	
	<!-- 更新非法关键字 -->
	<update id="update">
		update gsms_cache_key_word set keyword=#{keywordName},handle_time=#{handleTime},
		is_removed=#{isRemoved},user=#{userId},type=#{type},target=#{targetId} 
		where id=#{id}
	</update>
	
	<!-- 根据所给参数，分页查询出符合条件的非删除的非法关键字-->
	<select id="findTotalByName" resultMap="keyword">
		select gkw.keyword,gkw.handle_time from gsms_cache_key_word as gkw where is_removed is false
		<if test="keywordName!=null and keywordName!=''">and gkw.keyword like concat('%',#{keywordName},'%')</if>
		<if test="reqNum>0">limit #{offset},#{reqNum}</if>
	</select>
</mapper>
