<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xuanwu.web.wechat.dao.mapper.MenuDiyMapper">

    <resultMap id="menuDiyMap" type="com.xuanwu.mos.domain.entity.MenuDiy">
        <id property="id" column="id" />
        <result property="accountId" column="account_id" />
        <result property="userId" column="user_id" />
        <result property="title" column="title" />
        <result property="addTime" column="add_time" />
        <result property="modifyTime" column="modify_time" />
        <result property="state" column="state" />
        <collection property="options" column="id" select="findMenuOptions"></collection>
    </resultMap>

    <resultMap id="menuDiyOptionMap" type="com.xuanwu.mos.domain.entity.MenuDiyOption">
        <id property="id" column="id" />
        <result property="menuId" column="menu_id" />
        <result property="parentId" column="parent_id" />
        <result property="name" column="name" />
        <result property="typeIdx" column="type" />
        <result property="key" column="key" />
        <result property="url" column="url" />
        <result property="ordx" column="ordx" />
        <collection property="subOptions" column="id" select="findSubMenuOptions"></collection>
    </resultMap>

    <select id="findMenusCount" resultType="int">
        select count(*) from wechat_menudiy
        where del=0
        <if test="accountId>0">and account_id=#{accountId}</if>
        <if test="title!=null">and title like concat('%',#{title},'%')</if>
    </select>

    <select id="findMenus" resultMap="menuDiyMap">
        select * from wechat_menudiy
        where del=0
        <if test="accountId>0">and account_id=#{accountId}</if>
        <if test="title!=null">and title like concat('%',#{title},'%')</if>
        order by id desc
        <if test="reqNum>0">limit #{offset},#{reqNum}</if>
    </select>

    <select id="findMenusOption" resultMap="menuDiyMap">
        select id,title from wechat_menudiy	where 1=1
        <if test="accountId>0">and account_id=#{accountId}</if>
        <if test="userId>0">and account_id=#{userId}</if>
        <if test="title!=null">and title like concat(#{title},'%')</if>
        limit #{fetchSize}
    </select>

    <select id="findMenuById" resultMap="menuDiyMap">
        select * from wechat_menudiy where del=0 and id=#{id}
    </select>

    <select id="findMenuOptions" resultMap="menuDiyOptionMap">
        select * from wechat_menudiy_option where menu_id=#{id} and parent_id=0 order by ordx
    </select>

    <select id="findSubMenuOptions" resultType="com.xuanwu.web.wechat.entity.MenuDiyOption">
        select id,menu_id as menuId,parent_id as parentId,`name`,`type` as typeIdx,`key`,url,ordx from wechat_menudiy_option where parent_id=#{id} order by ordx
    </select>

    <insert id="addMenu" useGeneratedKeys="true" keyProperty="id">
        insert into wechat_menudiy(account_id,user_id,title,add_time,state,del) values(#{accountId},#{userId},#{title},#{addTime},#{state},0)
    </insert>

    <update id="updateMenu">
        update wechat_menudiy set account_id=#{accountId},title=#{title},modify_time=#{modifyTime} where id=#{id}
    </update>

    <update id="updateMenuState">
        update wechat_menudiy set state=#{state} where id=#{id}
    </update>

    <update id="mutexMenuState">
        update wechat_menudiy set state=#{state} where id!=#{id} and account_id=#{accountId}
    </update>

    <delete id="deleteMenu">
        update wechat_menudiy set del=1 where id=#{id}
    </delete>

    <insert id="addMenuOption" useGeneratedKeys="true" keyProperty="id">
        insert into wechat_menudiy_option(menu_id,parent_id,`name`,`type`,`key`,url,ordx)
        values(#{menuId},#{parentId},#{name},#{type.index},#{key},#{url},#{ordx})
    </insert>

    <delete id="deleteMenuOptions">
        delete from wechat_menudiy_option where menu_id=#{menuId}
    </delete>

    <select id="findMenuByKey" resultMap="menuDiyOptionMap">
        select a.id,account_id,user_id,title,add_time,state,del from wechat_menudiy a
        left join wechat_menudiy_option b on a.id = b.menu_id
        where a.account_id=#{accountId} and a.del = 0
        <if test="key !=null and key !=''">and b.key=#{key}</if>
    </select>

    <select id="findMenuOptionByKey" resultMap="menuDiyOptionMap">
        select b.* from wechat_menudiy a
        left join wechat_menudiy_option b on a.id = b.menu_id
        where a.account_id=#{accountId} and a.del = 0 and a.state =1
        <if test="key !=null and key !=''">and b.key=#{key}</if>
        <if test="url !=null and url !=''">and b.url=#{url}</if>
    </select>

</mapper>