<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xuanwu.mos.mapper.RoleMapper">
	<!-- entity 角色信息表(gsms_role)，并包含 权限信息表(gsms_permission)的所有字段 -->
	<resultMap id="role" type="role">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="userId" column="user_id" />
		<result property="remark" column="remark" />
		<result property="lastModifyDate" column="last_modify_date" />
		<result property="lastModifyUserId" column="last_modify_user_id" />
		<result property="lastModifyUserName" column="last_modify_user_name" />
		<result property="roleType" column="role_type" />
		<result property="enterpriseId" column="enterprise_id" />
		<result property="platformId" column="platform_id" />
		<result property="platformName" column="platform_name" />
		<result property="industryType" column="industry_type" />
		<result property="default" column="is_default" />
		<result property="userBindFlag" column="is_user_bind" />
		<result property="permissionIds" column="permissionIds" />
		<collection property="permissions" column="id" select="findPermissionsByRoleId"/>
	</resultMap>

	<!-- entity 权限信息表(gsms_permission),并包含角色与权限关系表(gsms_role_permission)的部分字段 -->
	<resultMap type="permission" id="permission">
		<id property="id" column="id" />
		<result property="displayName" column="display_name" />
		<result property="operationObj" column="operation_obj" />
		<result property="areaName" column="area_name" />
		<result property="controllerName" column="controller_name" />
		<result property="actionName" column="action_name" />
		<result property="formMethod" column="form_method" />
		<result property="parentId" column="parent_id" />
		<result property="menu" column="is_menu" />
		<result property="menuImagePath" column="menu_image_path" />
		<result property="menuDisplayName" column="menu_display_name" />
		<result property="menuDisplayOrder" column="menu_display_order" />
		<result property="menuHasHyperlink" column="menu_has_hyperlink" />
		<result property="display" column="is_display" />
		<result property="remark" column="remark" />
		<result property="type" column="type" />
		<result property="level" column="level" />
		<result property="url" column="url" />
		<result property="dataScope" column="data_scope" />
		<result property="dataScopes" column="data_scopes" />
		<result property="dependIds" column="depend_ids" />
		<result property="platformId" column="platform_id" />
		<result property="operationStr" column="operationstr" />
		<result property="quickLink" column="is_quick_link" />
		<result property="industryType" column="industry_type" />
	</resultMap>

	<!-- entity 角色权限关系表(gsms_role_permission),每个角色可以操作的功能点 -->
	<resultMap type="com.xuanwu.mos.domain.entity.RolePermission" id="rolePermission">
		<result property="roleId" column="role_id"/>
		<result property="permissionId" column="permission_id"/>
		<result property="dataScope" column="data_scope"/>
	</resultMap>

	<!-- entity 系统配置表(gsms_sys_config) -->
	<resultMap type="com.xuanwu.mos.domain.entity.ConfigRecord" id="config">
		<result property="key" column="config_key"/>
		<result property="value" column="config_value"/>
		<result property="type" column="config_type"/>
		<result property="platformId" column="platform_id"/>
	</resultMap>

	<!-- entity 地区代码表(gsms_region_code) -->
	<resultMap type="com.xuanwu.mos.domain.entity.Region" id="region">
		<result property="id" column="id"/>
		<result property="parentId" column="parent_id"/>
		<result property="name" column="name"/>
		<result property="areaIdentity" column="area_identity"/>
		<result property="type" column="type"/>
	</resultMap>

	<sql id="findResultsSql">
		<if test="params.name != null">and r.name like concat('%',#{params.name},'%')</if>
		<if test="params.industryType != null">and r.industry_type=#{params.industryType}</if>
		<if test="params.platformId != null">and r.platform_id=#{params.platformId}</if>
		<if test="params.enterpriseId != null">and r.enterprise_id in (0,#{params.enterpriseId})</if>
	</sql>

	<!-- 根据所给参数，获取 角色的记录条数 -->
	<select id="findResultCount" resultType="int">
		select count(role.id) from(
			select r.id as id,
			(select group_concat(p.display_name) from gsms_role_permission grp
			left join gsms_permission p on grp.permission_id=p.id and p.share_flag in (0,2)
			where grp.role_id=r.id) as permission_names
			from gsms_role r
			where r.role_type!=9
			<include refid="findResultsSql"/>
		)role
		where 1=1
		<if test="params.permissionName != null">and role.permission_names like concat('%',#{params.permissionName},'%')</if>
	</select>

	<!-- 根据所给参数，将gsms_user表和gsms_role_permission表关联，分页查询出角色 -->
	<select id="findResults" resultMap="role">
		select * from(
			select r.*,u.user_name as last_modify_user_name,
			(select group_concat(p.display_name) from gsms_role_permission grp
			left join gsms_permission p on grp.permission_id=p.id and p.share_flag in (0,2)
			where grp.role_id=r.id) as permission_names,
			(select if(count(1) > 0, 1, 0) from gsms_user_role where role_id=r.id) as is_user_bind
			from gsms_role r
			left join gsms_user u on r.last_modify_user_id = u.id
			where r.role_type!=9
			<include refid="findResultsSql"/>
			<if test="sorts.lastModifyDate != null">order by r.last_modify_date ${sorts.lastModifyDate}</if>
		)role
		where 1=1
		<if test="params.permissionName != null">and role.permission_names like concat('%',#{params.permissionName},'%')</if>
		<if test="page!=null">limit #{page.from}, #{page.size}</if>
	</select>

	<!-- 根据id查询出符合条件的角色 -->
	<select id="getById" resultMap="role">
		select * from gsms_role where id=#{id}
	</select>

	<!--将 gsms_permission表和 gsms_role_permission表关联查询，查询角色对应的权限 -->
	<select id="findPermissionsByRoleId" resultMap="permission">
		select
		p.id,p.display_name,p.parent_id,p.is_menu,p.menu_image_path,p.menu_display_name,p.menu_display_order,p.url,
		p.menu_has_hyperlink,p.is_display,p.level,p.platform_id,rp.data_scope
		from gsms_permission p inner join gsms_role_permission rp
		on
		p.id=rp.permission_id and rp.role_id=#{roleId} and p.is_display=1 and p.share_flag in (0,2)
		order by p.menu_display_order
	</select>

	<select id="findAllPermissionMap" resultMap="permission">
			select * from gsms_permission WHERE platform_id = #{platformId} and share_flag in (0,2)  order by menu_display_order;
	</select>

	<select id="findPermsByUserId" resultMap="permission">
		select distinct p.id,p.display_name,p.parent_id,p.is_menu,p.menu_image_path,p.menu_display_name,p.menu_display_order,p.url,
		p.menu_has_hyperlink,p.is_display,p.level,p.platform_id,rp.data_scope,
		p.action_name,p.controller_name,p.area_name
		from gsms_permission p
		inner join gsms_role_permission rp on p.id=rp.permission_id and p.share_flag in (0,2)
		inner join gsms_user_role ur on ur.role_id = rp.role_id
		where ur.user_id=#{userId} and p.platform_id = #{platformId}
	</select>

	<select id="findPermissionsByPlatform" resultMap="permission">
		select
		p.id,p.display_name,p.parent_id,p.is_menu,p.menu_image_path,p.menu_display_name,p.menu_display_order,p.url,
		p.menu_has_hyperlink,p.is_display,p.level,p.platform_id,p.data_scopes,ppd.depend_ids
		from gsms_permission p
		left join
		(select pd.pri_id
		per_id,GROUP_CONCAT(pd.sub_id separator ',' ) as depend_ids
		from gsms_permission_depends pd left join gsms_permission p on p.id =
		pd.pri_id group by pd.pri_id
		) as ppd on ppd.per_id = p.id
		where p.platform_id = #{platformId} and p.share_flag in (0,2) and (p.is_display=1 or p.is_menu=1)
		ORDER BY p.parent_id,p.menu_display_order
	</select>

	<!-- 根据角色名称(roleName)查询出对应的 角色id -->
	<select id="findRoleByName" resultMap="role">
		select id from gsms_role where name=#{name}
		and platform_id = #{platformId} and enterprise_id in(0, #{enterpriseId})
		<if test="id > 0">
			and id != #{id}
		</if>
		limit 1
	</select>

	<!-- 添加新 角色 -->
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert into
		gsms_role(`name`,user_id,remark,is_default,last_modify_date,last_modify_user_id,
		role_type,enterprise_id,platform_id,industry_type)
		value(#{name},#{userId},#{remark},#{default},#{lastModifyDate},#{lastModifyUserId},
		#{roleType},#{enterpriseId},#{platformId},#{industryType})
	</insert>

	<insert id="saveUserRole" parameterType="role">
		insert into gsms_user_role(user_id, role_id) value (#{rootDeptId}, #{id});
	</insert>

	<insert id="addRolePermission">
		insert into
		gsms_role_permission(`role_id`,permission_id,data_scope)
		value(#{roleId}, #{permissionId}, #{dataScope})
	</insert>

	<!-- 更新企业下的用户绑定角色 -->
	<update id="updateUserRoleByEnt">
		update role_id = #{newRoleId} gsms_user_role ur where
		ur.role_id = #{oldRoleId}
		and ur.user_id in( select u.id from gsms_user u where u.enterprise_id =
		#{entId} )
	</update>

	<!-- 克隆角色权限到新角色 -->
	<insert id="cloneRolePermission">
		insert into gsms_role_permission (role_id,
		permission_id,data_scope)
		select #{newRoleId}, permission_id,data_scope from gsms_role_permission
		where role_id = #{oldRoleId}
	</insert>

	<!--添加用户与角色关系 -->
	<insert id="addUserRole">
		insert into gsms_user_role(user_id,role_id) select #{userId}, #{roleId} from
		DUAL
		where not exists (select * from gsms_user_role where user_id =
		#{userId} and role_id = #{roleId});
	</insert>

	<!--删除用户与角色关系 -->
	<delete id="delUserRole">
		delete from gsms_user_role where role_id = #{roleId}
		and user_id = #{userId}
	</delete>

	<!-- 更新角色 -->
	<update id="update">
		update gsms_role set
		`name`=#{name},user_id=#{userId},remark=#{remark},
		last_modify_date=#{lastModifyDate},last_modify_user_id=#{lastModifyUserId}
		where id=#{id}
	</update>

	<!-- 删除 角色 -->
	<delete id="deleteById">
		delete from gsms_role where id=#{id} and role_type = 0
	</delete>

	<!-- 删除用户与角色关系 -->
	<delete id="deleteUserRoleByRoleId">
		delete from gsms_user_role where role_id = #{roleId}
	</delete>

	<!-- 删除角色与权限关系 -->
	<delete id="deleteRolePermissionsByRoleId">
		delete from gsms_role_permission where
		role_id=#{roleId}
	</delete>

	<select id="findDefaultRole" resultMap="role">
		select r.*, group_concat(rp.permission_id separator ',' ) as permissionIds
		from gsms_role r
		left join gsms_role_permission rp on r.id = rp.role_id
		where r.enterprise_id=0 and r.is_default = 1 and r.platform_id=2
	</select>


	<select id="findDataScopeByUserId" parameterType="integer" resultMap="permission">
		select
		rp.permission_id id,
		max(rp.data_scope) as data_scope
		from
		gsms_user_role ur
		inner join gsms_role_permission rp
		on ur.role_id = rp.role_id
		and ur.user_id = #{id}
		inner join gsms_permission p on p.id=rp.permission_id and p.share_flag in (0,2)
		group by rp.permission_id
		order by rp.permission_id
	</select>

	<select id="findRoles" resultMap="role" parameterType="map">
		select r.id, r.name, r.user_id from gsms_role r
		where r.industry_type=0 and r.platform_id=#{platform.index}
		and r.enterprise_id = 0 or r.enterprise_id = #{enterpriseId};
	</select>

	<select id="findRolesByDeptId" parameterType="map" resultMap="role">
		select r.id, r.name, r.is_default from gsms_role r
		inner join gsms_user_role ur on r.id = ur.role_id
		where ur.user_id=#{deptId} and r.industry_type=0 and r.platform_id=#{platform.index};
	</select>

	<!-- 查找出所有的权限 add by zengzl-->
	<select id="findAllPermissions" resultMap="permission">
		select id, display_name, area_name, controller_name, action_name, form_method,
		parent_id, is_menu, menu_image_path, menu_display_name, menu_display_order, menu_has_hyperlink,
		is_display, level, url, platform_id, data_scopes, type, operation_obj from gsms_permission
		where platform_id = #{platformId} and share_flag in (0,2) order by menu_display_order
	</select>

	<!-- 查找角色范围内所拥有的权限 -->
	<select id="findAllRolePermissions" resultMap="rolePermission">
		select role_id, permission_id, data_scope from gsms_role_permission
	</select>

	<!-- 查找出版本信息 -->
	<select id="findGsmsSyncVersion" resultType="int">
		select version from gsms_sync_version where type = #{type}
	</select>

	<!-- 查找出所有的系统配置-->
	<select id="findAllConfigs" resultMap="config">
		select config_key, config_value, config_type, platform_id from gsms_sys_config where platform_id = 3
	</select>

	<!-- 更新系统配置 -->
	<update id="updateConfig">
		update gsms_sys_config set config_value = #{config.value} where config_key = #{config.key} and platform_id = #{config.platformId}
	</update>

	<!-- 查找出所有地区代码  -->
	<select id="findAllRegions" resultMap="region">
		select id, parent_id, name, area_identity, type from gsms_region_code
	</select>

	<select id="findMenuPermissions" parameterType="map" resultMap="permission">
		select * from gsms_permission
		where parent_id=0 and is_display and is_menu=1 and share_flag in (0,2)
		<if test="params.platformId != null">and platform_id=#{params.platformId}</if>
		order by menu_display_order;
	</select>

	<select id="findChildRoleByPath" resultMap="role">
		select distinct(role_id) as id from gsms_user_role
		where user_id
		in (select id from gsms_user where state!=2 and type = 1 and path like concat(#{path}, '%'))
	</select>

	<select id="getDelRoleName" resultType="string">
		select group_concat(name) from gsms_role where id in
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>
</mapper>