<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xuanwu.mos.mapper.VerifyMapper">

    <resultMap type="com.xuanwu.mos.domain.entity.Verify" id="verifyMap">
        <id property="id" column="id" />
        <result property="batchId" column="batchId" />
        <result property="verifyTime" column="verifyTime" />
        <result property="verifyUserId" column="verifyUserId" />
        <result property="verifyUserName" column="verifyUserName" />
        <result property="verifyState" column="verifyState" />
        <result property="verifyRemark" column="verifyRemark" />
    </resultMap>

    <select id="findVerifyById" resultMap="verifyMap">
        select v.id as id, v.batch_id as batchId, v.verify_time as verifyTime,
        v.verify_user_id as verifyUserId,u.user_name as verifyUserName,
        v.verify_state as verifyState, v.verify_remark as verifyRemark
        from gsms_verify v
        left join gsms_user u on u.id=v.verify_user_id
        where v.id=#{id}
    </select>

    <select id="findVerifyByPackId" resultMap="verifyMap">
        select v.id as id, v.batch_id as batchId, v.verify_time as verifyTime,
        v.verify_user_id as verifyUserId,u.user_name as verifyUserName,
        v.verify_state as verifyState, v.verify_remark as verifyRemark
        from gsms_verify v
        left join gsms_user u on u.id=v.verify_user_id
        where v.batch_id=#{packId}
        order by verify_time desc
        limit 0,1
    </select>

    <insert id="storeVerify">
        insert into gsms_verify(batch_id,verify_time,verify_user_id,verify_state,verify_remark) values
        (#{batchId},#{verifyTime},#{verifyUserId},#{verifyState},#{verifyRemark})
    </insert>

    <select id="findLastInsertId" resultType="int">
        select last_insert_id()
    </select>


</mapper>