<div class="tab_con_type1 mar_t10">
    <div class="first">
        <!--左边树-->
        <div class="con_left" style="overflow: auto;">
            <div class="hd">
                <div class="f16">共享通讯录</div>
                <div class="clearfix mar_t20 user_opt">
                    <a ng-if="hasPermission(urlPerMap.CONTACTMGR_ECONTACT_ADDCONTACTGROUP)" class="add mar_r20" ng-click="addGroup()"></a>
                    <a ng-if="hasPermission(urlPerMap.CONTACTMGR_ECONTACT_DELETECONTACTGROUP)" class="del" ng-click="deleteGroup();"></a>
                </div>
            </div>
            <div class="left_tree" style="top:90px;padding:10px 0;">
                <treecontrol class="tree-classic" tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node)" expanded-nodes="expandedNodes">
                    {{node.name|limitTo:20}}
                </treecontrol>
            </div>
        </div>
        <!--右边内容-->
        <div class="con_right">
            <form class="form-inline table-toolbar">
                <div class="search_box">
                    <div class="pull-left">
                        <div class="form-group">
                            <label class="label">姓名</label>
                            <input type="text" ng-model="params._lk_name" class="form-control  input-sm" aria-describedby="basic-addon" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label class="label">手机号码</label>
                            <input type="text" ng-model="params._lk_phone" class="form-control  input-sm" aria-describedby="basic-addon" maxlength="11">
                        </div>
                        <div class="form-group ">
                            <label class="label">性别</label>
                            <select class="form-control input-sm" ng-model="params.sex">
                                <option value="-1">请选择</option>
                                <option value="1">先生</option>
                                <option value="0">女士</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="checkbox checkbox-info">
                                <input type="checkbox" id="subDept" name="subDept" ng-model="params.showChild">
                                <label>包含下级</label>
                            </div>
                            <!--<label class="label">包含下级</label>-->
                            <!--<input type="checkbox" ng-model="params.showChild" class="form-control  input-sm" >-->
                        </div>
                        <div class="form-group">
                            <button ng-init="moreFlag = false;" href="javascript:;" type="button" class="btn btn_more more_spacing" ng-click="moreFlag = !moreFlag;">更多</button>
                            <button type="button" class="btn btn_search" ng-click="search();">查询</button>
                            <!--<button type="button" class="btn btn-sm btn-default" ng-click="reset();"><i class="fa fa-refresh"></i> 重置</button>-->
                        </div>
                        <div class="more-search" ng-show="moreFlag">
                            <div class="form-group">
                                <label class="label">出生日期</label>
                                <input type="text" name="beginDate" ng-model="params._gt_beginDate" class="form-control input-sm" style="width: 137px" /> 至
                                <input type="text" name="endDate" ng-model="params._lt_endDate" class="form-control input-sm" style="width: 137px" />
                            </div>
                            <div class="form-group">
                                <label class="label">编号</label>
                                <input type="text" ng-model="params._lk_identifier" class="form-control  input-sm" aria-describedby="basic-addon">
                            </div>
                            <div class="form-group">
                                <label class="label">VIP</label>
                                <select class="form-control input-sm" ng-model="params.vip">
                                    <option value="-1">请选择</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table_t1 mar_t10">
                <div class="fixed-table-container">
                    <div class="loading" ng-show="contactTable.settings().$loading"></div>
                    <table ng-table="contactTable" class="table table-hover" template-pagination="custom/pager">
                        <tbody>
                        <tr ng-repeat="contact in $data">
                            <td width="30" data-title="&nbsp;" header="'ng-table/headers/checkbox.html'">
                                <div class="checkbox checkbox-info">
                                    <input name="id" value="{{contact.id}}" ng-checked="contact.$checked" ng-click="checkOne(contact);" type="checkbox">
                                    <label></label>
                                </div>
                            </td>
                            <td data-title="cols[0].title" ng-if="cols[0].show" align="center">
                                {{contact.name}}
                            </td>
                            <td data-title="cols[1].title" ng-if="cols[1].show" align="center">{{contact.phone}}</td>
                            <td data-title="cols[2].title" ng-if="cols[2].show" align="center" >
                                {{contact.groupName}}
                            </td>
                            <td data-title="cols[3].title" ng-if="cols[3].show" align="center" ng-switch="contact.sex">
                                <span ng-switch-when="1">先生</span>
                                <span ng-switch-when="0">女士</span>
                            </td>
                            <td data-title="cols[4].title" ng-if="cols[4].show" align="center">
                                {{contact.birthday|date:'yyyy-MM-dd'}}
                            </td>
                            <td data-title="cols[5].title" ng-if="cols[5].show" align="center">
                                {{contact.identifier}}
                            </td>
                            <td data-title="cols[6].title" ng-if="cols[6].show" align="center" ng-switch="contact.vip">
                                <span ng-switch-when="true">是</span>
                                <span ng-switch-when="false">否</span>
                            </td>
                            <td data-title="cols[7].title" ng-if="cols[7].show" align="center" width="15%" >
                                {{contact.remark}}
                            </td>
                        </tr>
                        <tr ng-show="$data==0" align="center">
                            <td colspan="9"><div class="bootstrapTable_noData"><div></div><p>没有找到相关数据！</p></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>