<div align="center">
    <span style="font-size:20px">{{notice.messageTitle}}</span><br/>
    <span style="font-size:14px;color:#aaa;">{{notice.pushTime|date:'yyyy-MM-dd HH:mm:ss'}}</span>
    <hr style="height:1px;border:none;border-top:1px solid #555555;" />
</div>


<div align="center" style="font-size: 14px;">
    <div ng-if="notice.messageType.index == 1" >
        <table>
            　　<caption>短信发送详情</caption>
            　　<tbody>
                  <tr><td>批次名称</td><td>{{}}</td><td>手机号码</td><td>{{}}</td></tr>
        　　　　  <tr><td></td></tr>
        　　　　  <tr><td></td><tr>
            　　<tbody>
        </table>
    </div>
    <div ng-if="notice.messageType.index == 2">
        彩信发送详情
    </div>
    <div ng-if="notice.messageType.index == 3">
        短信审核详情
    </div>
    <div ng-if="notice.messageType.index == 4">
        彩信审核详情
    </div>
    <div ng-if="notice.messageType.index == 5">
        {{notice.content}}
    </div>
</div>
<div align="center" style="padding-top:20px;">
    <button type="button" class="btn btn_2x_cancel" ng-click="redirect('/notice');">返回</button>
</div>
