<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xuanwu.mos.mapper.ChargeRecordMapper">

    <resultMap id="recordMap" type="ChargeRecord">
        <id property="id" column="id"/>
        <result property="capitalAccountId" column="capital_account_id"/>
        <result property="accountName" column="name"/>
        <result property="chargeAmount" column="charge_amount"/>
        <result property="chargeTime" column="charge_time"/>
        <result property="remark" column="remark"/>
        <result property="chargeWay" column="charge_type"/>
        <result property="chargeUserName" column="user_name"/>
        <result property="chargeState" column="auto_charge_flag"/>
    </resultMap>

    <sql id="recordResultSql">
        <if test="params.accountName != null and params.accountName != ''">
            and b.name like concat('%',#{params.accountName},'%')
        </if>
        <if test="params.chargeWay != null">
            and a.charge_type=#{params.chargeWay}
        </if>
        <if test="params.chargeState != null">
            and a.auto_charge_flag=#{params.chargeState}
        </if>
        <if test="params.startTime != null"> and a.charge_time &gt;= #{params.startTime}</if>
        <if test="params.endTime != null"> and a.charge_time &lt;= #{params.endTime}</if>
    </sql>

    <select id="findResultCount" resultType="int">
        select count(1)
        from gsms_charge_record a inner join gsms_capital_account b on a.capital_account_id = b.id
        where b.parent_id is not null and b.state=0 and b.enterprise_id=#{params.entId}
        <include refid="recordResultSql"/>
    </select>

    <select id="findResults" resultMap="recordMap">
        select a.id,a.capital_account_id,a.charge_amount,a.charge_time,a.remark,a.operator_id,a.charge_type,
        a.auto_charge_flag,b.enterprise_id,b.name,b.balance,u.user_name
        from gsms_charge_record a inner join gsms_capital_account b on a.capital_account_id = b.id
        left join gsms_user u on a.operator_id = u.id
        where b.parent_id is not null and b.state=0 and b.enterprise_id=#{params.entId}
        <include refid="recordResultSql"/>
        <if test="sorts.chargeTime != null">order by a.charge_time ${sorts.chargeTime}</if>
        limit #{page.from}, #{page.size}
    </select>

    <select id="findFailChargingRecords" resultMap="recordMap">
        select a.id,a.capital_account_id,a.charge_amount,a.charge_time,a.remark,a.operator_id,a.charge_type,
        a.auto_charge_flag,b.enterprise_id,b.name,b.balance
        from gsms_charge_record a
        inner join gsms_capital_account b on a.capital_account_id = b.id
        where b.parent_id is not null
        and b.enterprise_id=#{params.enterpriseId}
        and b.state=0 and a.charge_type=1
        and a.auto_charge_flag=false
        and a.charge_time &gt;= #{params.startTime}
        and a.charge_time &lt;= #{params.endTime}
    </select>

    <update id="updateChargingRecord" parameterType="ChargeRecord">
        update gsms_charge_record set auto_charge_flag=#{chargeState},
        remark=#{remark}, charge_time=#{chargeTime} where id=#{id}
    </update>

</mapper>
