<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xuanwu.mos.mapper.MsgPackMapper">

	<!--获取所有待审核的短信-->
	<resultMap id="msgPackDTO" type="com.xuanwu.mos.domain.entity.MsgPackDTO">
		<id property="id" column="id"/>
		<result property="batchName" column="batch_name"/>
		<result property="submitTime" column="post_time"/>
		<result property="departmentName" column="department_name"/>
		<result property="userName" column="user_name"/>
		<result property="userId" column="user_id"/>
		<result property="batchState" column="state"/>
		<result property="postAllCount" column="postallcount"/>
		<result property="sendAllCount" column="sendallcount"/>
		<result property="bizType" column="name"/>
		<result property="msgType" column="msg_type"/>
	</resultMap>

	<!-- entity  短信包信息表(gsms_msg_pack)-->
	<resultMap id="msgPack" type="com.xuanwu.mos.domain.entity.MsgPack">
		<id property="id" column="id" />
		<result property="bizType" column="biz_type" />
		<result property="state" column="state" />
		<result property="batchName" column="batch_name" />
		<result property="enterpriseId" column="enterprise_id" />
		<result property="deptId" column="dept_id" />
		<result property="sendType" column="send_type" />
		<result property="msgType" column="msg_type" />
		<result property="validFrameCount" column="valid_frame_count" />
		<result property="specNum" column="spec_num" />
		<result property="customNum" column="custom_num" />
		<result property="scheduleTime" column="schedule_time" />
		<result property="deadline" column="deadline" />
		<result property="boeTime" column="boe_time" />
		<result property="eoeTime" column="eoe_time" />
		<result property="postTime" column="post_time" />
		<result property="postTime" column="commit_time" />
		<result property="version" column="version" />
		<result property="commitFrom" column="commit_from" />
		<result property="remark" column="remark" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="validTickets" column="valid_tickets" />
		<result property="invalidTickets" column="invalid_tickets" />
	</resultMap>

	<!-- 获取审核彩信 -->
	<select id="findVerifyMsgPack" resultMap="msgPackDTO">
		SELECT p.state AS pack_state, batch_name, post_time, msg_type, p.pack_id, u.user_name,
			CASE u.parent_id
			WHEN 0 THEN
			(SELECT enterprise_name FROM gsms_user u1 WHERE u1.id = u.id )
			ELSE
			( SELECT enterprise_name FROM gsms_user u1 WHERE u1.id = u.parent_id )
			END AS department_name,
			t.NAME,
			p.valid_tickets + p.invalid_tickets AS postallcount,
			p.valid_tickets AS sendallcount,
			u.id AS userid
		FROM gsms_msg_pack_verify p
		JOIN gsms_user u ON p.user_id = u.id
		LEFT JOIN gsms_business_type t ON t.id = p.biz_type
			WHERE 1 = 1
			AND p.state = 1
			<if test="enterpriseId!=null">AND u.enterprise_id = #{enterpriseId}</if>
			<if test="beginTime!=null and endTime==null">AND p.post_time &gt;= #{beginTime}</if>
			<if test="endTime!=null and beginTime==null">AND p.post_time &lt;= #{endTime}</if>
			<if test="beginTime!=null and endTime!=null">and p.post_time between #{beginTime} and #{endTime}</if>
			<choose>
				<when test="branch==personal">
					AND u.id=#{userId}
				</when>
				<when test="branch==path">
					AND u.path like #{path}
				</when>
				<when test="branch==departmentPath">
					AND u.path like concat(#{path},'%') AND u.type = 2
				</when>
				<when test="branch==parentId">
					AND u.parent_id = #{userParentId}
				</when>
				<when test="branch==departmentParentId">
					AND u.parent_id = #{userParentId} AND u.type = 2
				</when>
				<when test="branch==enterpriseId">
					AND u.enterprise_id = #{enterpriseId}
				</when>
			</choose>
			<if test="msgType != null">AND msg_type = #{msgType}</if>
		ORDER BY
			p.id DESC
		LIMIT #{offset}, #{reqNum}
	</select>

	<!--以下 by jiangziyuan-->

	<select id="findMsgPacksCount" resultType="int">
		select count(p.id) from gsms_msg_pack p
		<if test="path != null">inner join gsms_user u on p.user_id=u.id</if>
		where 1=1
		<choose>
			<when test="state ==0 or state ==3 ">and p.state = #{state}</when>
			<when test="state == 1">and p.state = 8</when>
			<when test="state == 2">and p.state = 9</when>
			<otherwise>and (p.state != 5 and p.state != 1)</otherwise>
		</choose>
		<choose>
			<when test="msgType==1" >and (p.msg_type= 1) </when>
			<when test="msgType==8" >and (p.msg_type= 8) </when>
			<when test="msgType==9" >and (p.msg_Type=9) </when>
			<otherwise> and p.msg_type=#{msgType} </otherwise>
		</choose>
		<if test="beginTime!=null"> and p.post_time &gt;= #{beginTime}</if>
		<if test="endTime!=null"> and p.post_time &lt;= #{endTime}</if>
		<if test="batchName!=null">and p.batch_name like concat('%',#{batchName},'%')</if>
		<if test="userId > 0">and p.user_id=#{userId}</if>
		<if test= "path != null">and u.path like concat(#{path}, '%')</if>
	</select>

	<!-- 根据id查询符合条件的短信包 -->
	<select id="findMsgPackById" resultMap="msgPack">
		select * from gsms_msg_pack where id = #{id}
	</select>

	<select id="findBatchNameById" resultType="string">
		select batch_name from gsms_msg_pack where id=#{id}
	</select>

	<select id="findPackIdsByName" resultType="string">
		select id from gsms_msg_pack where post_time between #{beginTime} and #{endTime} and batch_name like concat('%',#{batchName},'%')
	</select>

	<delete id="deleteVerifyPack">
		delete from gsms_msg_pack_verify where pack_id=#{packId}
	</delete>

	<!-- add by guoyaohui-->

	<!-- 根据id进行批次统计-->
	<select id="findTitleByPackId" resultType="string">
		select title
		from gsms_msg_frame where msg_pack_id=#{packId} limit 1
	</select>

	<update id="updateAuditVerifyPackState">
		update gsms_msg_pack_verify set state =#{state} where pack_id = #{packId}
	</update>

	<!--彩信发送记录 guo-->
	<sql id="findMmsMsgPacks_Condition">
		<where>
			<if test="query.params.enterpriseId > 0">
				and p.enterprise_id=#{query.params.enterpriseId}
			</if>
			<if test="query.params.packId > 0">
				AND p.id = #{query.params.packId}
			</if>
			<if test="query.params.packState>-1">
				<choose>
					<when test="query.params.packState == 9">AND( p.state = 9 or p.state = 2)</when>
					<otherwise>AND p.state = #{query.params.packState}</otherwise>
				</choose>
			</if>
			<if test="query.params.beginTime!=null ">
				and p.post_time &gt;= #{query.params.beginTime}
			</if>
			<if test="query.params.endTime!=null ">
				and p.post_time &lt;= #{query.params.endTime}
			</if>
			<if test="query.params.batchName!=null and query.params.batchName!=''">
				and p.batch_name like concat('%',#{query.params.batchName},'%')
			</if>
			<if test="query.params.userName!=null and query.params.userName!=''">
				and u.user_name = #{query.params.userName}
			</if>
			<if test="query.params.userId > 0">
				and p.user_id=#{query.params.userId}
			</if>
			<if test="query.params.userIds !=null and query.params.userIds.size >0">
				and p.user_id in <foreach collection="query.params.userIds" item="id" open="(" separator="," close=")">#{id}</foreach>
			</if>
			<if test="query.params.packIds !=null and query.params.packIds.size >0">
				and p.id in <foreach collection="query.params.packIds" item="id" open="(" separator="," close=")">#{id}</foreach>
			</if>
			<if test= "query.params.path != null and query.params.userIds == null">
				and u.path like concat(#{query.params.path}, '%')
			</if>
			<if test="query.params.msgType != null">
				and p.msg_type=#{query.params.msgType}
			</if>
			<choose>
				<when test="query.params.failSMSNum == 1">
					and s.failed_tickets > 0
				</when>
				<when test="query.params.failSMSNum == 0">
					and (s.failed_tickets = 0 OR s.failed_tickets IS NULL)
				</when>
			</choose>
		</where>
	</sql>

	<select id="findMmsMsgPacksCount" resultType="int">
		select count(p.id) from gsms_msg_pack p
			inner join gsms_user u on p.user_id=u.id
		<if test="query.params.packState>-1">
			inner join gsms_business_type AS t ON t.id = p.biz_type
		</if>
		<if test="query.params.failSMSNum != null and query.params.failSMSNum != -1">
			LEFT JOIN(select s.pack_id,count(*) as failed_tickets FROM gsms_statereport as s
			LEFT JOIN gsms_msg_ticket t on t.msg_id=s.msg_id
			where s.enterprise_id = #{query.params.enterpriseId} and t.enterprise_id = #{query.params.enterpriseId}
			and ((t.state > 1 and t.state &lt;7) or (t.state = 1 and s.result > 0))and (t.total = 1 or (t.total > 1 and t.number != 0))
			GROUP BY s.pack_id)s on s.pack_id=p.id
		</if>
		<include refid="findMmsMsgPacks_Condition"/>
	</select>

	<!--根据所给参数，将短信包信息表(gsms_msg_pack)和短信帧信息表(gsms_msg_frame)关联，分页查询短信包 guo -->
	<select id="findMmsMsgPacks" resultMap="mmsMsgPack">
		select
		p.schedule_time,
		p.post_time,
		p.batch_name,
		p.valid_tickets,
		p.id AS pack_id,
		p.invalid_tickets AS invalid_tickets,
		p.valid_tickets AS valid_tickets,
		p.state AS pack_state,
		p.commit_time AS commit_time,
		u.user_name AS send_user_name,
		u.enterprise_name AS send_dept_name,
		t.name AS biz_type_name,
		p.commit_from AS commit_from,
		p.remark AS pack_remark,
		p.msg_type AS msg_type
		<if test="query.params.failSMSNum != null and query.params.failSMSNum != -1">
		,CASE WHEN ISNULL(s.failed_tickets)THEN 0 ELSE s.failed_tickets END AS failed_tickets
		</if>
		FROM gsms_msg_pack p
		INNER JOIN gsms_user u on p.user_id=u.id
        INNER JOIN gsms_business_type AS t ON t.id = p.biz_type
		<if test="query.params.failSMSNum != null and query.params.failSMSNum != -1">
			LEFT JOIN(select s.pack_id,count(*) as failed_tickets FROM gsms_statereport as s
				LEFT JOIN gsms_msg_ticket t on t.msg_id=s.msg_id
			where s.enterprise_id = #{query.params.enterpriseId} and t.enterprise_id = #{query.params.enterpriseId}
			and ((t.state > 1 and t.state &lt;7) or (t.state = 1 and s.result > 0))and (t.total = 1 or (t.total > 1 and t.number != 0))
			GROUP BY s.pack_id)s on s.pack_id=p.id
		</if>
		<include refid="findMmsMsgPacks_Condition"/>
		order by p.id desc
		<if test="query.page!=null">limit #{query.page.from}, #{query.page.size}</if>
	</select>

	<select id="findSuccessCount" resultMap="mmsMsgPack">
		SELECT
		coalesce(sum(msgcount),0) AS send_tickets
		FROM
		gsms_msg_frame
		WHERE
		msg_pack_id = #{query.params.packId}
		AND state = 2
		GROUP BY
		msg_pack_id;
	</select>
	<select id="findFailCount" resultMap="mmsMsgPack">
	SELECT st.pack_id,count(st.parent_id) AS failed_tickets from (
		SELECT DISTINCT t.parent_id,t.pack_id,t.frame_id,t.id
		FROM
		gsms_statereport s
		LEFT JOIN gsms_msg_ticket t ON t.msg_id = s.msg_id AND t.channel_id=s.channel_id
		WHERE
		s.pack_id = #{query.params.packId} and t.pack_id = #{query.params.packId}
		and ((t.state > 1 and t.state &lt;7) or (t.state = 1 and s.result > 0))and (t.total = 1 or (t.total > 1 and t.number != 0)) and t.parent_id=0
		UNION
		SELECT DISTINCT t.parent_id,t.pack_id,t.frame_id,0 AS id
		FROM
		gsms_statereport s
		LEFT JOIN gsms_msg_ticket t ON t.msg_id = s.msg_id AND t.channel_id=s.channel_id
		WHERE
		s.pack_id = #{query.params.packId} and t.pack_id = #{query.params.packId}
		and ((t.state > 1 and t.state &lt;7) or (t.state = 1 and s.result > 0))and (t.total = 1 or (t.total > 1 and t.number != 0))and t.parent_id!=0
	)st
	</select>

	<select id="findMmsPackIdsByName" resultType="string">
		select id from gsms_msg_pack
		where post_time
		between #{query.params.beginTime}
		and #{query.params.endTime}
		and batch_name like concat('%',#{query.params.batchName},'%')
		and enterprise_id = #{query.params.enterpriseId}
	</select>

	<!--彩信审核详情 guo -->
	<!-- 根据所给条件，查询账号状态为suspend的短信包-->
	<!-- 分表之后，我们查询的pack都是来自于verify_pack表中的 -->

	<sql id="findMmsWaitAuditPack_Condition">
		<where>
			p.state = 1
			<if test="params.packId > 0">
				and p.id = #{params.packId}
			</if>
			<if test="params.batchName!=null and params.batchName!=''">
				AND p.batch_name like concat('%',#{params.batchName},'%')
			</if>
			<if test="params.userId>0">
				AND p.user_id = #{params.userId}
			</if>
			<if test="params.userIds !=null and params.userIds.size >0">
				and p.user_id in <foreach collection="params.userIds" item="id" open="(" separator="," close=")">#{id}</foreach>
			</if>
			<if test="params.subDept == true">
				<if test="params.path!=null and params.path!=''">
					AND u.path like concat('%',#{params.path},'%')
				</if>
			</if>
			<if test="params.subDept == false">
				<if test="params.deptId>0">
					AND u.parent_id = #{params.deptId}
				</if>
			</if>
			<if test="params.beginTime !=null">
				AND p.post_time &gt;= #{params.beginTime}
			</if>
			<if test="params.endTime != null">
				AND p.post_time &lt;= #{params.endTime}
			</if>
			<if test="params.msgType !=null">
				AND p.msg_type = #{params.msgType}
			</if>
			<if test="params.enterpriseId !=null">
				AND u.enterprise_id = #{params.enterpriseId}
			</if>
		</where>
	</sql>

	<select id="findMmsWaitAuditPacksCount" resultType="integer">
		SELECT count(p.id) FROM gsms_msg_pack_verify AS p INNER JOIN gsms_user AS u ON p.user_id = u.id
		<include refid="findMmsWaitAuditPack_Condition"/>
	</select>

	<!--待审核短信包-->
	<resultMap id="mmsMsgPack" type="com.xuanwu.mos.domain.entity.MmsMsgPack">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="batchName" column="batch_name"/>
		<result property="bizTypeName" column="biz_type_name"/>
		<result property="commitFrom" column="commit_form"/>
		<result property="enterpriseId" column="enterprise_id"/>
		<result property="invalidTickets" column="invalid_tickets"/>
		<result property="msgType" column="msg_type"/>
		<result property="packId" column="pack_id"/>
		<result property="postAuditTime" column="post_audit_time"/>
		<result property="postTime" column="post_time"/>
		<result property="doneTime" column="commit_time"/>
		<result property="priority" column="priority"/>
		<result property="packRemark" column="pack_remark"/>
		<result property="scheduleTime" column="schedule_time"/>
		<result property="sendType" column="send_type"/>
		<result property="smsContent" column="smsContent"/>
		<result property="frameContent" column="frameContent"/>
		<result property="packState" column="pack_state"/>
		<result property="validTickets" column="valid_tickets"/>
		<result property="failedTickets" column="failed_tickets"/>
		<result property="sendUserName" column="send_user_name"/>
		<result property="sendDeptName" column="send_dept_name"/>
		<result property="commitFrom" column="commit_from"/>
		<result property="sendedTickets" column="send_tickets"/>
		<result property="frontAuditUser" column="front_audit_user"/>
		<result property="frontAuditTime" column="front_audit_time"/>
		<result property="frontAuditState" column="front_audit_state"/>
		<result property="frontAuditRemark" column="front_audit_remark"/>
		<result property="backAuditUser" column="back_audit_user"/>
		<result property="backAuditTime" column="back_audit_time"/>
		<result property="backAuditState" column="back_audit_state"/>
		<result property="backAuditRemark" column="back_audit_remark"/>
		<result property="uuid" column="pack_uuid"/>
	</resultMap>

	<select id="findMmsWaitAuditPacks" resultMap="mmsMsgPack">
		SELECT
		p.msg_type,
		p.batch_name,
		p.valid_tickets,
		p.invalid_tickets,
		p.pack_id AS pack_id,
		p.state AS pack_state,
		p.post_time AS post_time,
		p.schedule_time AS schedule_time,
		p.commit_from AS commit_from,
		p.remark AS pack_remark,
		biz.name As biz_type_name,
		u.id AS user_id,
		u.user_name AS send_user_name,
		dept.enterprise_name AS send_dept_name,
		p.sms_content as smsContent
		FROM gsms_msg_pack_verify AS p
		INNER JOIN gsms_user AS u ON p.user_id = u.id
		INNER JOIN gsms_user AS dept ON u.parent_id = dept.id
		INNER JOIN gsms_business_type AS biz ON biz.id = p.biz_type
		<include refid="findMmsWaitAuditPack_Condition"/>
		order by p.id desc
		<if test="page!=null">limit #{page.from}, #{page.size}</if>
	</select>

	<select id="findVerifyMsgPackById" resultMap="mmsMsgPack">
		select frame.title AS mmsTitle, frame.pack_uuid AS pack_uuid,frame.content AS frameContent,frame.send_type AS send_type from gsms_msg_pack_verify AS verify
		INNER JOIN gsms_msg_frame AS frame ON verify.pack_id = frame.msg_pack_id AND verify.user_id = frame.user_id
		<if test="query.params.packId!=null ">
			where pack_id = #{query.params.packId}
		</if>
		limit 0,1
	</select>

	<update id="updateAuditPackState">
		update gsms_msg_pack_verify set state =#{params.state} where pack_id = #{params.packId}
	</update>

	<select id="countPackNum" resultMap="mmsMsgPack">
		SELECT
		count(ticket.id) AS sended_tickets,
		FROM  gsms_msg_pack AS pack
		INNER JOIN gsms_msg_frame AS frame ON frame.msg_pack_id = pack.id AND frame.msg_type = pack.msg_type
		INNER JOIN gsms_msg_ticket AS ticket ON ticket.msg_id = pack.id AND ticket.frame_id = frame.id
		WHERE 1=1
		AND ticket.state = 1
		<if test="query.params.packId!=null and query.params.packId!=''">
			AND pack.id = #{query.params.packId}
		</if>
		<if test="query.params.msgType !=null">
			AND pack.msg_type = #{query.params.msgType}
		</if>
	</select>

	<!--mos中的审核分为前台审核(gsms_verify)和后台审核(gsms_audit_record)-->
	<select id="findBackAuditRecord" resultMap="mmsMsgPack">
		SELECT
		au.remark AS back_audit_remark,
		u.user_name AS back_audit_user,
		au.audit_date AS back_audit_time,
		au.audit_result AS back_audit_state
		FROM gsms_audit_record AS au
		INNER JOIN gsms_user AS u ON au.audit_user = u.id
		WHERE 1=1
		<if test="params.packId!=null and params.packId!=''">
			AND au.msg_pack_id = #{params.packId}
		</if>
	</select>

	<select id="findFrontAuditRecord" resultMap="mmsMsgPack">
		SELECT
		u.user_name AS front_audit_user,
		v.verify_time AS front_audit_time,
		v.verify_state AS front_audit_state,
		v.verify_remark AS front_audit_remark
		FROM gsms_verify AS v
		INNER JOIN gsms_user AS u ON v.verify_user_id = u.id
		WHERE 1=1
		<if test="params.packId!=null and params.packId!=''">
			AND v.batch_id = #{params.packId}
		</if>
	</select>

	<select id="findMmsMsgPackById" resultMap="mmsMsgPack">
		SELECT
		p.msg_type,
		p.id AS pack_id,
		p.state AS pack_state,
		p.post_time AS post_time,
		p.uuid AS pack_uuid,
		p.valid_tickets AS valid_tickets,
		p.invalid_tickets AS invalid_tickets,
		p.batch_name AS batch_name
		FROM gsms_msg_pack AS p
		WHERE 1=1
		<if test="query.params.packId!=null">
			AND p.id = #{query.params.packId}
		</if>
		<if test="query.params.uuid!=null">
			AND p.uuid = #{query.params.uuid}
		</if>
	</select>

	<!-- 根据id进行批次统计-->
	<!--entity 统计批次，存放通过函数计算得到的结果  -->
	<resultMap id="frameState" type="com.xuanwu.mos.domain.entity.MsgFrameState">
		<result property="minState" column="min_state"/>
		<result property="maxState" column="max_state"/>
		<result property="doneTime" column="done_time"/>
		<result property="doneCount" column="done_count"/>
	</resultMap>

	<select id="findFrameStateByPackId" resultMap="frameState">
		select min(state) as min_state,max(state) as max_state, max(commit_time) as done_time,
		sum(case when state=2 then msgcount else 0 end) as done_count
		from gsms_msg_frame where msg_pack_id=#{query.params.packId} and state &lt;= 2
	</select>
	<!-- 郭垚辉  end-->

</mapper>
