<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<!-- Used by the mto client to fetch the frame -->
<mapper namespace="com.xuanwu.mos.mapper.PhraseMapper">
	
	<!-- entity 常用短语或模板信息表，并包含了类型信息表(gsms_business_type)的(id,name)字段 -->
	<resultMap id="phraseMap" type="com.xuanwu.mos.domain.entity.Phrase" >
		<id property="id" column="id" />
		<result property="content" column="content" javaType="byte[]" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
		<result property="userId" column="user_id"/>
		<result property="title" column="title"/>
		<result property="msgType" column="msg_type"/>
		<result property="createTime" column="createtime"/>
		<result property="lastUpdateTime" column="last_update_Time"/>
		<result property="identify" column="identify"/>
		<result property="enterpriseId" column="enterpriseid" />
		<result property="templateType" column="templatetype" />
		<result property="auditerId" column="auditerid"/>
		<result property="auditState" column="auditstate"/>
		<result property="auditTime" column="audittime"/>
		<result property="remark" column="remark"/>
		<result property="phraseType" column="phrase_type"/>
	</resultMap>
	
	<!-- 根据userId，title，msgType获取常用短语或模板条数 -->
	<select id="findPhraseListCount" resultType="int" >
        select count(0) from gsms_phrase where 1=1
        <if test="params.userId!=0"> and user_id = #{params.userId}</if>
		<if test="params.templateId!=null and params.templateId!=0"> and id = #{params.templateId}</if>
        <if test="params.templateName != null and params.templateName != ''">
            and title like concat('%',#{params.templateName},'%')
        </if>
        and msg_type=#{params.msgType}
	</select>


	<sql id="findResult_Condition">
		<if test="params.userId>0">
			and p.user_id = #{params.userId}
		</if>
		<if test="params.title != null and params.title != ''">
			and p.title like concat('%',#{params.title},'%')
		</if>
		<if test="params.msgType!=0">
			and p.msg_type=#{params.msgType}
		</if>
		<if test="params.templateId!=null and params.templateId!=0">
			and p.id = #{params.templateId}
		</if>
		<if test="params.templateName != null and params.templateName != ''">
			and p.title like concat('%',#{params.templateName},'%')
		</if>
		<if test="params.enterpriseId!=null">
			and enterpriseid=#{params.enterpriseId}
		</if>
		<if test="params.templateType!=null and params.templateType!=-1">
			and templatetype=#{params.templateType}
		</if>
		<if test="params.phraseType!=null">
			and phrase_type=#{params.phraseType}
		</if>
		<if test="params.content!=null">
			and p.content like concat('%',#{params.content},'%')
		</if>
		<if test="params.result!=null and params.result!=-1">
			and p.auditstate=#{params.result}
		</if>
	</sql>
	
	<select id="findResultCount" resultType="int" >
		select count(0)
		from gsms_phrase p
		where 1=1
		<include refid="findResult_Condition"/>
	</select>

	<select id="findResults" resultMap="phraseMap" >
		SELECT
			p.id,
			p.content,
			p.user_id,
			p.title,
			p.last_update_time,
			p.identify,
			p.createtime,
			p.audittime,
			p.auditstate,
			p.auditerid,
			p.enterpriseid,
			p.remark,
			p.templatetype,
			p.phrase_type
		FROM
			gsms_phrase p
		where 1=1
		<include refid="findResult_Condition"/>
        order by p.last_update_time desc
        <if test="page!=null">limit #{page.from}, #{page.size}</if>
	</select>

	<select id="findPhraseList" resultMap="phraseMap" >
		SELECT
		p.id,
		p.content,
		p.user_id,
		p.title,
		p.last_update_time,
		p.identify,
		p.createtime,
		p.audittime,
		p.auditstate,
		p.auditerid,
		p.enterpriseid,
		p.remark,
		p.templatetype,
		p.phrase_type
		FROM
		gsms_phrase p
		where 1=1
		<if test="params.userId!=0"> and p.user_id = #{params.userId}</if>
		<if test="params.templateId!=null and params.templateId!=0"> and p.id = #{params.templateId}</if>
		<if test="params.templateName != null and params.templateName != ''">
			and p.title like concat('%',#{params.templateName},'%')
		</if>
		and msg_type=#{params.msgType}
		order by p.last_update_time desc
		<if test="page!=null">limit #{page.from}, #{page.size}</if>
	</select>

	<!-- 添加常用短语或模板-->
	<insert id="addPhrase">
		insert into gsms_phrase(content,user_id,title,msg_type,last_update_time,identify)
		values(#{content},#{userId},#{title},#{msgType},#{lastUpdateTime},#{identify})
	</insert>

	<!-- 添加常用短语或模板__SMS-->
	<insert id="addSMSPhrase">
		insert into gsms_phrase(content,user_id,title,msg_type,last_update_time,
			identify,createtime,auditstate,enterpriseid,templatetype,phrase_type)
		values(#{content},#{userId},#{title},#{msgType},#{lastUpdateTime},#{identify},
		#{createTime},#{auditstate},#{enterpriseId},#{templatetype},#{phraseType})
	</insert>

	<!-- 根据id和userId来获取一条模板记录 -->
    <select id="findPhraseById" resultMap="phraseMap">
    	SELECT
			p.id,
			p.content,
			p.user_id,
			p.title,
			p.msg_type,
			p.last_update_time,
			p.identify,
			p.createtime,
			p.audittime,
			p.auditstate,
			p.auditerid,
			p.enterpriseid,
			p.remark,
			p.templatetype
		FROM
			gsms_phrase p
		where p.id = #{id}
    </select>

	<select id="findPhraseByTitle" resultMap="phraseMap">
		SELECT
			p.id,
			p.content,
			p.user_id,
			p.title,
			p.last_update_time,
			p.identify,
			p.createtime,
			p.audittime,
			p.auditstate,
			p.auditerid,
			p.enterpriseid,
			p.remark,
			p.templatetype
		FROM
			gsms_phrase p
		WHERE 1 = 1
		AND msgType = #{msgType}
		AND user_id = #{userId}
		<if test="title != null and title != ''">AND title like concat('%',#{title},'%')</if>
		order by id desc
		<if test="reqNum>0">limit #{offset},#{reqNum}</if>
	</select>

	<!-- 批量删除短彩信模板 -->
	<delete id="deletePhraseByIds">
		delete from gsms_phrase where id 	 in
		<foreach collection="ids" index="index" item="id"
		         open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!--更新 常用短语或模板-->
	<update id="updatePhrase">
		update gsms_phrase
		set
		content=#{content},
		title=#{title},
		user_id=#{userId},
		last_update_time=#{lastUpdateTime},
		msg_type=#{msgType}
		where id=#{id}
	</update>

	<update id="updateSMSPhrase">
		update gsms_phrase
		set
		content=#{content},
		title=#{title},
		user_id=#{userId},
		last_update_time=#{lastUpdateTime},
		auditstate=#{auditState},
		templatetype=#{templatetype}
		where id=#{id}
	</update>

	<!-- 根据所给gsms_phrase表的id，查询常用短语 by jiangziyuan -->
	<select id="findMosPhraseById" resultMap="phraseMap">
		select a.id as id,
		a.content as content,
		a.user_id as user_id,
		a.title as title,
		a.msg_type as msg_type,
		a.templatetype as templatetype,
		a.last_update_time as last_update_time,
		a.identify as identify,
		a.phrase_type
		from gsms_phrase a
		where a.id = #{id}
	</select>

	<update id="updatePhraseByBizTypeAndMsgType">
		update gsms_phrase set biz_type = 0 where biz_type=#{bizTypeId}
		<if test="msgType != 0">
			and msg_type=#{msgType}
		</if>
	</update>

	<select id="findPhraseByNO" resultMap="phraseMap">
		select id,title from gsms_phrase where identify=#{identify}
	</select>

	<select id="findPhraseByAuditingState" resultMap="phraseMap" >
	    SELECT * FROM gsms_phrase WHERE msg_type = #{msgType} AND auditing_state = #{auditingState} ;
	</select>

	<!-- 添加常用短语 by jiangziyuan-->
	<insert id="addMosPhrase">
		insert into gsms_phrase(content,user_id,title,msg_type,last_update_time,identify, auditstate, enterpriseid, templatetype)
		values(#{content},#{userId},#{title},#{msgType},#{lastUpdateTime},#{identify},#{auditingState},#{enterpriseId}, #{templateType})
	</insert>

	<!-- 根据所给参数，查询出符合条件的常用短语或模板条数,【发送短信】时【引用短语】加载gsms_phrase表的内容  by jiangziyuan -->
	<select id="findPhraseByTemplatetypeCount" resultType="int" >
		select count(1) from gsms_phrase where 1=1
		<if test="userId!=0"> and user_id = #{userId}</if>
		<if test="title != null and title != ''">
			and title like concat('%',#{title},'%')
		</if>
		<if test="identify != null and identify != ''">
			and identify like concat('%',#{identify},'%')
		</if>
		<if test="content != null and content != ''">
			and content like concat('%',#{content},'%')
		</if>
		<!--<if test="type!=0"> and type=#{type}</if>-->
		<if test="templatetype != null"> and templatetype=#{templatetype}</if>
		<!-- <if test="auditingState!=-1">and auditing_state = #{auditingState}</if> -->
		and msg_type=#{msgType}
	</select>

	<!--  根据所给条件，将gsms_phrase和gsms_business_type两表关联，分页查询常用短语或模板,【发送短信】时【引用短语】加载gsms_phrase表的内容  by jiangziyuan-->
	<select id="findPhraseByTemplatetype" resultMap="phraseMap" >
		select a.id as id,a.content as content,a.user_id as user_id,a.title as title,
		a.msg_type as msg_type,	a.last_update_time as last_update_time,a.identify as identify,
		a.identify as identify
		<!--<if test="type!=3">,b.id as biz_type,b.name as biz_type_name</if>-->
		from gsms_phrase a
		<!--<if test="type!=3">left join gsms_business_type b on a.biz_type=b.id</if>-->
		where 1=1
		<if test="userId>0">and a.user_id = #{userId}</if>
		<if test="title != null and title != ''">and a.title like concat('%',#{title},'%')</if>
		<if test="identify != null and identify != ''">and a.identify like concat('%',#{identify},'%')</if>
		<if test="content != null and content != ''">and a.content like concat('%',#{content},'%')</if>
		<if test="msgType!=0">and a.msg_type=#{msgType}</if>
		<!--<if test="type!=0"> and a.type=#{type}</if>-->
		<!-- <if test="auditingState!=-1">and a.auditing_state = #{auditingState}</if> -->
		<if test="templatetype != null"> and a.templatetype=#{templatetype}</if>
		order by a.last_update_time desc
		<if test="reqNum>0">limit #{offset},#{reqNum}</if>
	</select>
</mapper>
