<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xuanwu.mos.mapper.SysLogMapper">

	<!-- entity 用户操作历史信息(日志)表(gsms_user_operation_history) -->
	<resultMap id="logResult" type="com.xuanwu.mos.domain.entity.SystemLog">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="actionName" column="action_name" />
		<result property="areaName" column="area_name" />
		<result property="controllerName" column="controller_name" />
		<result property="content" column="content" />
		<result property="formMethod" column="form_method" />
		<result property="operateTime" column="operate_time" />
		<result property="operationObj" column="operation_obj" />
		<result property="operationType" column="operation_type" />
		<result property="enterpriseId" column="enterprise_id" />
		<result property="remark" column="remark" />
	</resultMap>

	<sql id="findResultsSql">
		<if test="params.startTime!=null ">and operate_time &gt;=#{params.startTime}</if>
		<if test="params.endTime!=null">and operate_time &lt;=#{params.endTime}</if>
		<if test="params.userName!=null  and params.userName!=''">and user_name=#{params.userName}</if>
		<if test="params.operationType!=null and params.operationType!=''">and operation_type=#{params.operationType}</if>
		<if test="params.operationObj!=null and params.operationObj!=''">and operation_obj like concat('%',#{params.operationObj},'%')</if>
	</sql>

	<!-- 根据所给参数，查询出符合条件的日志的条数 -->
	<select id="findResultCount" resultType="int">
		select
		count(*)
		from gsms_user_operation_history
		where
		enterprise_id = #{params.entId}
		<include refid="findResultsSql" />
	</select>

	<!-- 根据所给参数，分页查询日志 -->
	<select id="findResults" resultMap="logResult">
		select
		id,user_name,operation_type,operation_obj,operate_time,content,remark
		from
		gsms_user_operation_history
		where
		enterprise_id =#{params.entId}
		<include refid="findResultsSql" />
		<if test="sorts.operateTime != null">order by operate_time ${sorts.operateTime}</if>
		<if test="page != null">limit #{page.from},#{page.size}</if>
	</select>

	<insert id="insert" parameterType="com.xuanwu.mos.domain.entity.SystemLog">
		insert into gsms_user_operation_history(user_id, operate_time, area_name, controller_name, action_name, remark, user_name, operation_type,
		operation_obj, content, form_method, enterprise_id)
		values (#{userId}, #{operateTime}, #{areaName}, #{controllerName}, #{actionName}, #{remark},
		#{userName}, #{operationType.index}, #{operationObj}, #{content}, #{formMethod}, #{enterpriseId})
	</insert>

</mapper>
