<form class="form-inline table-toolbar">
    <div class="radio_set"><label>文件类型：</label>
        <input ng-model="importParams.fileType" value="excel" type="radio" id="radio-1" name="radio-set" class="regular-radio" checked /><label for="radio-1"></label><label>Excel文件</label>&nbsp;
        <input ng-model="importParams.fileType" value="txt" type="radio" id="radio-2" name="radio-set" class="regular-radio" /><label for="radio-2"></label><label>Txt文件</label>&nbsp;
        <input ng-model="importParams.fileType" value="csv" type="radio" id="radio-3" name="radio-set" class="regular-radio" /><label for="radio-3"></label><label>Csv文件 </label>
    </div>
    <div ng-show="importParams.fileType == 'txt'">
        <div class="radio_set"><label>分隔符号：</label>
            <input ng-model="importParams.delimiter" value="," type="radio" id="rad_delimiter0" name="delimiter1" class="regular-radio" checked />
            <label for="rad_delimiter0"></label><label>逗号</label>&nbsp;
            <input ng-model="importParams.delimiter" value="\|" type="radio" id="rad_delimiter1" name="delimiter2" class="regular-radio" />
            <label for="rad_delimiter1"></label><label>&nbsp;|&nbsp;</label>&nbsp;
            <input ng-model="importParams.delimiter" value=" " type="radio" id="rad_delimiter2" name="delimiter3" class="regular-radio" />
            <label for="rad_delimiter2"></label><label>空格</label>&nbsp;
            <input ng-model="importParams.delimiter" value="\t" type="radio" id="rad_delimiter3" name="delimiter4" class="regular-radio" />
            <label for="rad_delimiter3"></label><label>Tab</label>&nbsp;
            <input ng-model="importParams.delimiter" value="otherDelimiter" type="radio" id="rad_delimiter4" name="delimiter5" class="regular-radio" />
            <label for="rad_delimiter4"></label><label>其他</label>&nbsp;
            <input type="text" ng-model="importParams.otherDelimiter" maxlength="1" size="3" ng-disabled="importParams.delimiter !='otherDelimiter'" style="width:30px;" />
        </div>
    </div>
    <div>
        <input type="text" ng-model="uploadData.file.name"
               class="form-control"
               ng-maxlength="50" disabled="disabled" />
        <button type="button" ng-disabled="showParams.uploadFileButton" class="btn btn_search" ngf-select ngf-pattern="" ng-model="uploadData.file" ngf-multiple="false">
            选择附件
        </button>
        <button class="btn btn-primary" ng-click="uploadFile();" ng-show="uploadData.file">开始上传
        </button>
        <br>
        <font color="red">提示：请上传文件（文件第一列必须是手机号码；第一行作为列名不会被发送）</font>
    </div>
</form>
