<label class="label">计费账户</label>
<label angucomplete-alt id="{{autoId}}"
       placeholder="输入计费账户"
       maxlength="50"
       selected-object="completeBill.billAccount"
       field-required="false"
       pause="100"
       search-fields="name"
       title-field="name"
       remote-url-data-field="data"
       remote-url="{{completeBill.billPath}}"
       minlength="0"   
       input-changed="watchBillChange"
       text-no-results="查不到相关记录"
	   input-class="form-control input-sm"
       match-class="highlight">
</label>
