<div class="form-group" style="margin: 0;">
    <label class="label">{{params.description}}</label>
    <input type="text" class="form-control input-sm" ng-date-time ng-model="stParams.beginTime" start-date="stParams.beginTime"
           date-format="YYYY-MM-DD HH:mm:ss" style="width:160px;"/>
    至
    <input type="text" class="form-control input-sm" ng-date-time ng-model="stParams.endTime" start-date="stParams.endTime"
           date-format="YYYY-MM-DD HH:mm:ss" style="width:160px;"/>
</div>
