<form class="form-inline table-toolbar">
	<div class="search_box">
        <div class="pull-left">
        	<div class="form-group">
               
                <div style="display:inline-block;">
										
					<auto-complete-user
                            id="USER" complete-user="completeUser"
                    
                            label-description="用户" placeholder-description="输入用户"
                    />
                             
                </div>
            </div>
            <div class="form-group">
				<auto-complete-dept
                        id="DEPT" complete-dept="completeDept"
                        label-description="部门" placeholder-description="输入部门"/>
            </div>
             <div class="form-group">
                <label class="label">日期</label>
                <input type="text" name="beginDate" ng-model="stParams.beginDate" class="form-control input-sm" placeholder="开始时间" style="width: 137px" /> 至
                <input type="text" name="endDate" ng-model="stParams.endDate" class="form-control input-sm" placeholder="结束时间" style="width: 137px"/>			
				
            </div>
            <div class="form-group">
                <label class="label">信息类型</label>
                <select  class="form-control input-sm" ng-model="stParams.smsType">              
                    <option value="0">短信</option>
                	<option value="1">彩信</option>
                </select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn_search" ng-if="hasPermission(urlPerMap.STATISTICS_SUMSTATISTICS_GETSUMACCOUNT);" ng-click="searchUserStat();">查询</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn_t1 icon_import" ng-if="hasPermission(urlPerMap.STATISTICS_SUMSTATISTICS_EXPORTACCOUNT);" ng-click="exportUserStat()">
                    导出
                </button>
            </div>
        </div>
        <div style="clear: both;"></div>
	</div>
</form>

<div class="table_t1 mar_t10">
    <div class="fixed-table-container loading-container">
    <div class="loading" ng-show="userStatTable.settings().$loading"></div>
    <table ng-table="userStatTable" class="table table-hover" template-pagination="custom/pager">
        <tbody>
            <tr ng-repeat="userStat in $data">
                <td data-title="cols[0].title" ng-if="cols[0].show" align="center">
                    {{userStat.userName}}
                </td>
                <td data-title="cols[1].title" ng-if="cols[1].show" align="center">{{userStat.deptName}}</td>
                <td data-title="cols[2].title" ng-if="cols[2].show" align="center" sortable="'allReceiveSum'">{{userStat.allReceiveSum}}</td>
                <td data-title="cols[3].title" ng-if="cols[3].show" align="center" sortable="'allSendSum'">{{userStat.allSendSum}}</td>
                <td data-title="cols[4].title" ng-if="cols[4].show" align="center" sortable="'allSuccessSum'">{{userStat.allSuccessSum}}</td>
                <td data-title="cols[5].title" ng-if="cols[5].show" align="center">{{userStat.successSumYD}}</td>
                <td data-title="cols[6].title" ng-if="cols[6].show" align="center">{{userStat.successSumLT}}</td>
                <td data-title="cols[7].title" ng-if="cols[7].show" align="center">{{userStat.successSumCDMA}}</td>
                <td data-title="cols[8].title" ng-if="cols[8].show" align="center">{{userStat.successSumXLT}}</td>
                <td data-title="cols[9].title" ng-if="cols[9].show" align="center">
                	 <a  ng-if="hasPermission(urlPerMap.STATISTICS_SUMSTATISTICS_GETSUMACCOUNT_SINGLEUSERLIST);" ng-click="showDetail(userStat);">统计详情</a>
                </td>
            </tr>
			<tr ng-show="$data==0" align="center">
                <td colspan="10"><div class="bootstrapTable_noData"><div></div><p>没有找到相关数据！</p></div></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
